Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

rumdl:
  entry: uv run rumdl check --fix
  language: system
  name: rumdl
  require_serial: true

tombi:
  entry: uv run tombi format
  language: system
  name: tombi
  require_serial: true

refactor: unify config_path variable in init command
  src/dbt_bouncer/cli/init/__init__.py
Due: none

docs: update AGENTS.md import paths to check_framework.*
  AGENTS.md
  cspell.json
Due: rumdl

docs: add comment explaining moved DbtBouncerFailedCheckError import
  src/dbt_bouncer/check_framework/base.py
Due: none

refactor: simplify import comment in check_framework/base.py
  src/dbt_bouncer/check_framework/base.py
Due: none

refactor: add deprecation warnings to backward-compatibility shims
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/check_context.py
  src/dbt_bouncer/check_decorator.py
  src/dbt_bouncer/check_patterns.py
  src/dbt_bouncer/checks/common.py
Due: none

refactor: import re unconditionally in check_framework/patterns.py
  src/dbt_bouncer/check_framework/base.py
  src/dbt_bouncer/check_framework/patterns.py
Due: none

test: add parametrised tests for deprecation shim modules
  tests/unit/test_deprecation_shims.py
Due: none

feat: add brand assets, social cards, and docs brand page
  AGENTS.md
  cspell.json
  docs/assets/brand/README.md
  docs/assets/brand/colour-palette.png
  docs/assets/brand/colour-palette.svg
  docs/assets/brand/logo-128.png
  docs/assets/brand/logo-256.png
  docs/assets/brand/logo-512.png
  docs/assets/brand/logo-icon-only-128.png
  docs/assets/brand/logo-icon-only-256.png
  docs/assets/brand/logo-icon-only-512.png
  docs/assets/brand/logo-icon-only.svg
  docs/assets/brand/scripts/README.md
  docs/assets/brand/scripts/generate_card_html.py
  docs/assets/brand/scripts/generate_svgs.py
  docs/assets/brand/scripts/render_pngs.py
  docs/assets/brand/social-card-dark-full.png
  docs/assets/brand/social-card-dark-full.svg
  docs/assets/brand/social-card-dark-name.png
  docs/assets/brand/social-card-dark-name.svg
  docs/assets/brand/social-card-dark-tagline.png
  docs/assets/brand/social-card-dark-tagline.svg
  docs/assets/brand/social-card-light-full.png
  docs/assets/brand/social-card-light-full.svg
  docs/assets/brand/social-card-light-name.png
  docs/assets/brand/social-card-light-name.svg
  docs/assets/brand/social-card-light-tagline.png
  docs/assets/brand/social-card-light-tagline.svg
  docs/brand.md
  docs/overrides/main.html
  mkdocs.yml
  pyproject.toml
Due: rumdl, tombi

refactor: address AI review suggestions for brand scripts
  docs/assets/brand/scripts/_constants.py
  docs/assets/brand/scripts/generate_card_html.py
  docs/assets/brand/scripts/generate_svgs.py
  docs/assets/brand/scripts/render_pngs.py
  pyproject.toml
Due: tombi

refactor: use dynamic port allocation and top-level time import
  docs/assets/brand/scripts/generate_card_html.py
  docs/assets/brand/scripts/render_pngs.py
Due: none

refactor: consolidate path usage across repo
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/cli/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/utils.py
  tests/integration/test_integration_main.py
  tests/unit/test_main.py
Due: none

docs: create a GEMINI.md file that refers to the AGENTS.md file
  GEMINI.md
Due: rumdl

feat: add check_macro_is_unused
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/check_macros.py
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/test_macros.py
Due: none

feat: add check model is orphaned
  dbt-bouncer-example.yml
  docs/dbt-bouncer-example.toml
  schema.json
  src/dbt_bouncer/checks/manifest/models/lineage.py
  tests/unit/checks/manifest/models/test_lineage.py
  uv.lock
Due: tombi

refactor: use .agents for ai skills
  .agents/skills/build-artifacts/SKILL.md
  .agents/skills/new-check/SKILL.md
  .claude/skills
  .gitignore
  docs/CONTRIBUTING.md
Due: rumdl

refactor: adjustments
  src/dbt_bouncer/checks/manifest/check_macros.py
  tests/integration/test_integration_main.py
Due: none

docs: rename running_dbt_bouncer to getting_started
  docs/getting_started.md
Due: rumdl

docs: update from running dbt-bouncer to getting started
  docs/index.md
  mkdocs.yml
Due: rumdl

build: update BENCHER_VERSION to 0.6.2 in Dockerfile
  .devcontainer/Dockerfile
  uv.lock
Due: none

ci: add cross-file version consistency rule to AI review
  .github/workflows/pull_request_ai_review.yml
Due: none

refactor: rename check_macro_is_unused to check_macro_is_used, add review improvements
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/check_macros.py
  tests/unit/checks/manifest/test_macros.py
Due: none

fix: clear _USED_MACROS_CACHE between tests to prevent id() cache poisoning
  tests/conftest.py
Due: none

fix: use double quotes for release title variable expansion
  .github/workflows/release_pipeline.yml
Due: none

feat: add check_column_type_complies_to_column_name
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/catalog/columns/naming.py
  tests/unit/checks/catalog/columns/test_naming.py
  uv.lock
Due: none

fix: align check_column_name_complies_to_column_type `types` semantics with its name
  dbt-bouncer-example.yml
  docs/dbt-bouncer-example.toml
  schema.json
  src/dbt_bouncer/checks/catalog/columns/naming.py
  tests/unit/checks/catalog/columns/test_naming.py
Due: tombi

fix: interpolate type_pattern in fail message, align with types-branch wording
  src/dbt_bouncer/checks/catalog/columns/naming.py
Due: none

fix: render parsed-artifacts table directly via Rich Console
  src/dbt_bouncer/artifact_parsers/parser.py
  tests/unit/test_parsers_manifest.py
Due: none

test: assert artifact summary on stdout, not caplog
  tests/integration/test_integration_main.py
Due: none

feat: add check sources file name
  dbt-bouncer-example.yml
  docs/dbt-bouncer-example.toml
  schema.json
  src/dbt_bouncer/checks/manifest/sources/directories.py
  tests/unit/checks/manifest/sources/test_directories.py
Due: tombi

tests: use pytest for source file name unit tests
  tests/unit/checks/manifest/sources/test_directories.py
Due: none

fix: include internal check files in registry cache fingerprint
  src/dbt_bouncer/utils.py
  tests/unit/test_utils.py
Due: none

perf: avoid wasted work in runner at scale
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/runner.py
Due: none

perf: cache validated bouncer config to disk
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/utils.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_utils.py
Due: none

refactor: address AI review on conf cache
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/test_config_file_validator.py
Due: none

refactor: minor follow-ups from AI review
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/utils.py
Due: none

feat: add coverage badge to README
  .github/workflows/ci_pipeline.yml
  .github/workflows/merge_pipeline.yml
  .gitignore
  README.md
  makefile
Due: rumdl

chore: ignore coverage.svg
  .gitignore
Due: none

Path conditions:
  rumdl: any of: \.(md|markdown|mdown)$, but not: ^dist
  tombi: any of: \.toml$, but not: ^dist
