Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

rumdl:
  entry: uv run rumdl check --fix
  language: system
  name: rumdl
  require_serial: true

tombi:
  entry: uv run tombi format
  language: system
  name: tombi
  require_serial: true

feat: `validate` runs full config validation with did-you-mean suggestions (#1069)
  cspell.json
  docs/cli.md
  src/dbt_bouncer/cli/validate/__init__.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/exceptions.py
  tests/unit/test_cli_validate.py
  tests/unit/test_config_file_validator.py
Due: rumdl

feat(selectors): support degree limits (2+orders / orders+3)
  docs/configuration.md
  src/dbt_bouncer/selectors.py
  tests/unit/test_selectors.py
Due: rumdl

feat(selectors): support the @ operator
  docs/configuration.md
  src/dbt_bouncer/selectors.py
  tests/unit/test_selectors.py
Due: rumdl

feat(selectors): support the config.<key> method
  docs/configuration.md
  src/dbt_bouncer/selectors.py
  tests/unit/test_selectors.py
Due: rumdl

refactor(selectors): share selector field validator
  src/dbt_bouncer/check_framework/base.py
  src/dbt_bouncer/configuration_file/parser.py
  src/dbt_bouncer/selectors.py
Due: none

feat: dbt-style node selectors (`tag:`, `+model`, `fqn:`) for check targeting (#1072)
  docs/configuration.md
  schema.json
  src/dbt_bouncer/check_framework/base.py
  src/dbt_bouncer/cli/list/utils.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/parser.py
  src/dbt_bouncer/runner.py
  src/dbt_bouncer/selectors.py
  tests/unit/test_selectors.py
Due: rumdl

feat: add mcp subcommand exposing dbt-bouncer to AI coding agents
  docs/cli.md
  docs/faq.md
  pyproject.toml
  src/dbt_bouncer/cli/mcp/__init__.py
  src/dbt_bouncer/cli/mcp/server.py
  src/dbt_bouncer/main.py
  tests/unit/test_cli_mcp.py
  uv.lock
Due: rumdl, tombi

test: cover run_checks timeout and passing paths; document mcp/ in AGENTS.md
  AGENTS.md
  tests/unit/test_cli_mcp.py
Due: rumdl

refactor(mcp): delegate explain_check to explain payload builder; cut timeout to 120s
  src/dbt_bouncer/cli/mcp/server.py
  tests/unit/test_cli_mcp.py
Due: none

harden run_checks input; clarify dependency test (AI review)
  src/dbt_bouncer/cli/mcp/server.py
  tests/unit/test_cli_mcp.py
Due: none

feat: add `mcp` subcommand exposing dbt-bouncer to AI coding agents (#1071)
  AGENTS.md
  docs/cli.md
  docs/faq.md
  pyproject.toml
  src/dbt_bouncer/cli/mcp/__init__.py
  src/dbt_bouncer/cli/mcp/server.py
  src/dbt_bouncer/main.py
  tests/unit/test_cli_mcp.py
  uv.lock
Due: rumdl, tombi

fix(catalog): handle wrapped sources in catalog source checks
  dbt_project/dbt_project.yml
  dbt_project/models/staging/crm/_crm__sources.yml
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/runner.py
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  tests/unit/checks/catalog/test_catalog_sources.py
  tests/unit/checks/catalog/test_source_wrapped_metadata.py
Due: none

refactor(catalog): clarify source skip and meta unwrap
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/runner.py
Due: none

fix(tests): read and write files as utf-8 for Windows
  tests/benchmark/conftest.py
  tests/integration/test_integration_main.py
  tests/integration/test_programmatic_invocation.py
  tests/unit/test_cli_validate.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_exit_codes.py
  tests/unit/test_main.py
  tests/unit/test_runner.py
Due: none

fix: read and write files as utf-8 in the CLI
  src/dbt_bouncer/cli/init/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/utils.py
Due: none

feat: add interactive terminal studio dashboard subcommand
  AGENTS.md
  src/dbt_bouncer/cli/studio/__init__.py
  src/dbt_bouncer/cli/studio/utils.py
  src/dbt_bouncer/main.py
  tests/unit/test_cli_studio.py
Due: rumdl

ci: standalone single-binary build workflow and packaging
  .github/workflows/build_standalone_binaries.yml
  mise.toml
  scripts/build_standalone_binary.py
  tests/unit/test_standalone_binary_packaging.py
Due: tombi

refactor(studio): address AI code review suggestions
  src/dbt_bouncer/cli/studio/__init__.py
  src/dbt_bouncer/cli/studio/utils.py
  tests/unit/test_cli_studio.py
Due: none

fix(ci): use explicit python 3.11 in binary build workflow and polish executable target naming
  .github/workflows/build_standalone_binaries.yml
  scripts/build_standalone_binary.py
Due: none

test(studio): add edge case tests and narrow exception handling
  src/dbt_bouncer/cli/studio/utils.py
  tests/unit/test_cli_studio.py
Due: none

refactor(ci): address AI code review suggestions for standalone binary distribution
  scripts/__init__.py
  scripts/build_standalone_binary.py
  tests/unit/test_standalone_binary_packaging.py
Due: none

docs: adjust ai docs refs
  CLAUDE.md
  GEMINI.md
Due: rumdl

fix(scripts): read files as utf-8 in assert_alphabetical_checks
  scripts/assert_alphabetical_checks.py
Due: none

ci: harden binary workflow and make Intel macOS build best-effort
  .github/workflows/build_standalone_binaries.yml
  scripts/build_standalone_binary.py
  tests/unit/test_standalone_binary_packaging.py
Due: none

fix(studio): catch malformed TOML and warn on missing config file
  src/dbt_bouncer/cli/studio/__init__.py
  src/dbt_bouncer/cli/studio/utils.py
  tests/unit/test_cli_studio.py
Due: none

ci: build Intel macOS binary only on release, not on PR
  .github/workflows/build_standalone_binaries.yml
Due: none

ci: drop Intel macOS (darwin-x86_64) binary target
  .github/workflows/build_standalone_binaries.yml
Due: none

fix: read and write files as utf-8 for Windows (#1075)
  scripts/assert_alphabetical_checks.py
  src/dbt_bouncer/cli/init/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/utils.py
  tests/benchmark/conftest.py
  tests/integration/test_integration_main.py
  tests/integration/test_programmatic_invocation.py
  tests/unit/test_cli_validate.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_exit_codes.py
  tests/unit/test_main.py
  tests/unit/test_runner.py
Due: none

docs: adjust ai docs refs (#1078)
  CLAUDE.md
  GEMINI.md
Due: rumdl

refactor(ci): move binary-script ruff suppressions into pyproject
  pyproject.toml
  scripts/build_standalone_binary.py
  tests/unit/test_standalone_binary_packaging.py
Due: tombi

fix(catalog): handle wrapped sources in catalog source checks (#1074)
  dbt_project/dbt_project.yml
  dbt_project/models/staging/crm/_crm__sources.yml
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/runner.py
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  tests/unit/checks/catalog/test_catalog_sources.py
  tests/unit/checks/catalog/test_source_wrapped_metadata.py
Due: none

ci: standalone single-binary build workflow and packaging (#1077)
  .github/workflows/build_standalone_binaries.yml
  mise.toml
  pyproject.toml
  scripts/__init__.py
  scripts/build_standalone_binary.py
  tests/unit/test_standalone_binary_packaging.py
Due: tombi

fix(studio): read dbt-bouncer output schema and split errors from warnings
  src/dbt_bouncer/cli/studio/__init__.py
  src/dbt_bouncer/cli/studio/utils.py
  tests/unit/test_cli_studio.py
Due: none

feat: add interactive terminal studio dashboard subcommand (#1076)
  AGENTS.md
  src/dbt_bouncer/cli/studio/__init__.py
  src/dbt_bouncer/cli/studio/utils.py
  src/dbt_bouncer/main.py
  tests/unit/test_cli_studio.py
Due: rumdl

docs: note that structured output must be parsed, not the console table
  docs/cli.md
  docs/faq.md
Due: rumdl

feat: warn when custom check files are skipped at the top level
  src/dbt_bouncer/utils.py
  tests/unit/test_utils.py
Due: none

feat: raise an error when a custom check fails to load
  src/dbt_bouncer/utils.py
  tests/unit/test_utils.py
Due: none

feat: exit non-zero when no checks run
  docs/cli.md
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/runner.py
  tests/unit/test_main.py
  tests/unit/test_runner.py
Due: rumdl

ci: retry the AI review on a transient 529 instead of failing the workflow
  .github/workflows/pull_request_ai_review.yml
Due: none

ci: retry the AI review on a transient 529 instead of failing the workflow (#1083)
  .github/workflows/pull_request_ai_review.yml
Due: none

Path conditions:
  rumdl: any of: \.(md|markdown|mdown)$, but not: ^dist
  tombi: any of: \.toml$, but not: ^dist
