Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

Correct pyproject.toml
  pyproject.toml
  uv.lock
Due: tombi

feat: Enable dark mode on documentation website
  mkdocs.yml
Due: none

feat: Add 'run' command while maintaining backwards compatibility
  README.md
  docs/cli.md
  src/dbt_bouncer/main.py
  tests/unit/test_main.py
Due: rumdl

docs: Add dedicated sections for each CLI option
  docs/cli.md
Due: rumdl

feat: Display manifest.json contents in table format
  docs/getting_started.md
  src/dbt_bouncer/artifact_parsers/parsers_manifest.py
  tests/integration/test_integration_main.py
  tests/unit/test_parsers_manifest.py
Due: rumdl

feat: Add CheckSeedHasUnitTests check
  src/dbt_bouncer/checks/manifest/check_seeds.py
  tests/unit/checks/manifest/test_seeds.py
Due: none

feat: use mixins
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/_mixins.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/check_columns.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_models.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_sources.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
  src/dbt_bouncer/runner.py
  tests/conftest.py
Due: none

feat: Add seed column validation checks
  dbt_project/seeds/_seeds.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_19/target/catalog.json
  tests/fixtures/dbt_19/target/manifest.json
  tests/fixtures/dbt_19/target/run_results.json
  tests/unit/checks/catalog/test_catalog_seeds.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/test_main.py
Due: none

Adding Cspell
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
  cspell.json
  dbt-bouncer-example.yml
  dbt_project/models/staging/payments/_payments__sources.yml
  docs/faq.md
  docs/getting_started.md
  docs/index.md
Due: rumdl

Correcting check class names
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_models.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  tests/unit/checks/manifest/test_exposures.py
  tests/unit/checks/manifest/test_models.py
  tests/unit/checks/manifest/test_semantic_models.py
  tests/unit/checks/manifest/test_unit_tests.py
Due: none

Fixing tests
  dbt-bouncer-example.yml
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  tests/integration/test_integration_main.py
Due: none

tests: remove some imports
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/check_columns.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_models.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_sources.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
  src/dbt_bouncer/runner.py
Due: none

refactor: use abcs in seed checks
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
Due: none

fix(cli): use consolidated rich Table for artifact parsing logs
  pyproject.toml
  src/dbt_bouncer/artifact_parsers/parsers_catalog.py
  src/dbt_bouncer/artifact_parsers/parsers_common.py
  src/dbt_bouncer/artifact_parsers/parsers_manifest.py
  src/dbt_bouncer/artifact_parsers/parsers_run_results.py
  src/dbt_bouncer/config_file_validator.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/runner.py
  tests/integration/test_cli_integration.py
  tests/integration/test_integration_main.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_init.py
  tests/unit/test_logger.py
  tests/unit/test_main.py
  tests/unit/test_parsers_manifest.py
  tests/unit/test_rich_output.py
  tests/unit/test_runner.py
  uv.lock
Due: tombi

fix(tests): update tests for Typer compatibility
  src/dbt_bouncer/artifact_parsers/parsers_common.py
  src/dbt_bouncer/main.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_parsers_manifest.py
  tests/unit/test_rich_output.py
  tests/unit/test_runner.py
Due: none

fix(ci): resolve CI test and mkdocs build failures
  src/dbt_bouncer/main.py
  tests/integration/test_cli_integration.py
Due: none

fix(test): strip ANSI codes from help output in CI
  tests/integration/test_cli_integration.py
Due: none

fix(windows): replace Unicode emojis with ASCII characters
  src/dbt_bouncer/main.py
  src/dbt_bouncer/runner.py
  tests/unit/test_rich_output.py
Due: none

chore: loosen typer version constraint to >=0.12,<1
  pyproject.toml
Due: tombi

chore: update lockfile after typer constraint change
  uv.lock
Due: none

Removing unnecessary console logs
  src/dbt_bouncer/artifact_parsers/parsers_common.py
  src/dbt_bouncer/main.py
Due: none

Updating docs
  README.md
  docs/config_file.md
  docs/getting_started.md
Due: rumdl

Updating docs
  README.md
  docs/config_file.md
  docs/getting_started.md
  src/dbt_bouncer/artifact_parsers/parsers_common.py
  src/dbt_bouncer/runner.py
Due: rumdl

feat: enhance table formatting with Rich styling
  tests/integration/test_integration_main.py
Due: none

fix: use yaml.CSafeDumper in init command for consistency with CSafeLoader usage
  src/dbt_bouncer/main.py
Due: none

refactor: move deferred rich imports to top-level in runner.py
  src/dbt_bouncer/runner.py
Due: none

refactor: extract shared helpers to eliminate run/main_callback duplication in main.py
  src/dbt_bouncer/main.py
Due: none

refactor: replace 13 _require_* methods with generic _require() in check_base.py
  src/dbt_bouncer/check_base.py
Due: none

feat: validate check names against registry in lint_config_file
  src/dbt_bouncer/config_file_validator.py
Due: none

refactor: introduce OutputFormat enum and enums.py module
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/main.py
Due: none

refactor: extract validate_conf import wall into _import_artifact_types() helper
  src/dbt_bouncer/config_file_validator.py
Due: none

feat: add --output-format json to dbt-bouncer list command
  src/dbt_bouncer/main.py
Due: none

refactor: extract meta_config and check_run_id helpers in runner.py
  src/dbt_bouncer/runner.py
Due: none

refactor: add typed resource field annotations to BaseCheck
  src/dbt_bouncer/check_base.py
Due: none

test: add autouse fixture to clear module-level caches between tests
  tests/conftest.py
Due: none

refactor: replace closure class factory with pydantic create_model()
  src/dbt_bouncer/config_file_parser.py
Due: none

refactor: extract output formatters from runner.py to formatters.py
  src/dbt_bouncer/formatters.py
  src/dbt_bouncer/runner.py
Due: none

fix: remove duplicate log line and add type hints to resource_in_path in utils.py
  src/dbt_bouncer/utils.py
  tests/unit/test_logger.py
Due: none

refactor: build parsed_data from resource_map to reduce duplication
  src/dbt_bouncer/runner.py
Due: none

refactor: remove unused dependencies and add validate hint to init
  pyproject.toml
  src/dbt_bouncer/main.py
  uv.lock
Due: tombi
