Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

rumdl:
  entry: uv run rumdl check --fix
  language: system
  name: rumdl
  require_serial: true

tombi:
  entry: uv run tombi format
  language: system
  name: tombi
  require_serial: true

refactor: normalise failure_message to str in CheckToRun
  src/dbt_bouncer/runner.py
Due: none

refactor: move is_catalog_node_a_model() out of BaseCheck
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/catalog/check_columns.py
Due: none

refactor: replace _CONTEXT_REBUILT module global with ClassVar on BouncerContext
  src/dbt_bouncer/context.py
Due: none

refactor: add typed return values to all _require_*() methods in BaseCheck
  src/dbt_bouncer/check_base.py
Due: none

perf: cap ThreadPoolExecutor batch sizes to prevent giant tasks
  src/dbt_bouncer/runner.py
Due: none

feat: show check parameters in `dbt-bouncer list` output
  src/dbt_bouncer/main.py
Due: none

refactor: delegate legacy no-subcommand path to run() via ctx.invoke
  src/dbt_bouncer/main.py
Due: none

ci: upgrade github action runners to ubuntu-24.04
  .github/workflows/ci_pipeline.yml
  .github/workflows/dbt_artifact_probes.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/post_release_pipeline.yml
  .github/workflows/pull_request_benchmarks_track.yml
  .github/workflows/release_pipeline.yml
Due: none

docs: fix step 7 in ResourceWrapper guide — checks/ is grouped by artifact type
  src/dbt_bouncer/resource_adapter.py
Due: none

feat: add ResourceWrapper protocol and tests for resource wrapper interface
  src/dbt_bouncer/resource_adapter.py
  tests/unit/test_resource_adapter.py
Due: none

feat: annotate resource_in_path with ResourceWrapper type
  src/dbt_bouncer/utils.py
Due: none

test: rewrite ResourceWrapper test with direct imports and issubclass
  src/dbt_bouncer/resource_adapter.py
  tests/unit/test_resource_adapter.py
Due: none

feat: type resource_map as dict[str, list[ResourceWrapper]] in runner.py
  src/dbt_bouncer/runner.py
Due: none

fix: resolve ty, bandit, and deprecation errors for ResourceWrapper wiring
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_columns.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_models.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_sources.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/config_file_validator.py
  src/dbt_bouncer/logger.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/runner.py
  src/dbt_bouncer/utils.py
Due: none

refactor: move parsed_data computed lookups to @cached_property on BouncerContext
  src/dbt_bouncer/context.py
  src/dbt_bouncer/runner.py
Due: none

fix: escape separator in flatten() to prevent path corruption
  src/dbt_bouncer/utils.py
  tests/unit/test_utils.py
Due: none

feat: add --dry-run flag to preview checks without executing them
  src/dbt_bouncer/context.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/runner.py
Due: none

docs: document --dry-run flag in CLI reference; fix test fixtures
  docs/cli.md
  tests/unit/test_runner.py
Due: rumdl

docs: add design doc for ResourceWrapper wiring (PR #690)
  cspell.json
  docs/plans/2026-02-27-resource-wrapper-wiring-design.md
Due: rumdl

docs: add implementation plan for ResourceWrapper wiring
  docs/plans/2026-02-27-resource-wrapper-wiring.md
  pyproject.toml
Due: rumdl, tombi

refactor: split check_models.py into 6 focused files
  src/dbt_bouncer/checks/manifest/check_models.py
  src/dbt_bouncer/checks/manifest/check_models_access.py
  src/dbt_bouncer/checks/manifest/check_models_code.py
  src/dbt_bouncer/checks/manifest/check_models_columns.py
  src/dbt_bouncer/checks/manifest/check_models_description.py
  src/dbt_bouncer/checks/manifest/check_models_directories.py
  src/dbt_bouncer/checks/manifest/check_models_meta.py
  src/dbt_bouncer/checks/manifest/check_models_naming.py
  src/dbt_bouncer/checks/manifest/check_models_tags.py
  src/dbt_bouncer/checks/manifest/check_models_tests.py
  src/dbt_bouncer/checks/manifest/check_models_upstream.py
  src/dbt_bouncer/checks/manifest/check_models_versioning.py
  tests/unit/checks/manifest/test_models.py
Due: none

ci: use windows-2025 instead of windows-latest
  .github/workflows/ci_pipeline.yml
Due: none

Splitting models into mulitple files
  .gitignore
  docs/checks/index.md
  docs/checks/manifest/models/access.md
  docs/checks/manifest/models/code.md
  docs/checks/manifest/models/columns.md
  docs/checks/manifest/models/description.md
  docs/checks/manifest/models/directories.md
  docs/checks/manifest/models/lineage.md
  docs/checks/manifest/models/meta.md
  docs/checks/manifest/models/naming.md
  docs/checks/manifest/models/tags.md
  docs/checks/manifest/models/tests.md
  docs/checks/manifest/models/versioning.md
  docs/plans/2026-02-27-resource-wrapper-wiring-design.md
  docs/plans/2026-02-27-resource-wrapper-wiring.md
  mkdocs.yml
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/utils.py
  tests/unit/checks/manifest/models/test_models.py
Due: rumdl

Splitting model tests into mulitple files
  tests/unit/checks/manifest/models/__init__.py
  tests/unit/checks/manifest/models/conftest.py
  tests/unit/checks/manifest/models/test_access.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/models/test_columns.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/checks/manifest/models/test_directories.py
  tests/unit/checks/manifest/models/test_lineage.py
  tests/unit/checks/manifest/models/test_meta.py
  tests/unit/checks/manifest/models/test_models.py
  tests/unit/checks/manifest/models/test_naming.py
  tests/unit/checks/manifest/models/test_tags.py
  tests/unit/checks/manifest/models/test_tests.py
  tests/unit/checks/manifest/models/test_versioning.py
Due: none

Updating module path
  docs/checks/manifest/models/lineage.md
  uv.lock
Due: rumdl

Git ignore plans
  .gitignore
Due: none

refactor: split check_sources.py into sources/ subpackage
  docs/checks/index.md
  docs/checks/manifest/sources/description.md
  docs/checks/manifest/sources/freshness.md
  docs/checks/manifest/sources/lineage.md
  docs/checks/manifest/sources/loader.md
  docs/checks/manifest/sources/meta.md
  docs/checks/manifest/sources/naming.md
  docs/checks/manifest/sources/properties.md
  docs/checks/manifest/sources/tags.md
  src/dbt_bouncer/checks/manifest/check_sources.py
  src/dbt_bouncer/checks/manifest/sources/__init__.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/properties.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  tests/unit/checks/manifest/sources/__init__.py
  tests/unit/checks/manifest/sources/conftest.py
  tests/unit/checks/manifest/sources/test_description.py
  tests/unit/checks/manifest/sources/test_freshness.py
  tests/unit/checks/manifest/sources/test_lineage.py
  tests/unit/checks/manifest/sources/test_loader.py
  tests/unit/checks/manifest/sources/test_meta.py
  tests/unit/checks/manifest/sources/test_naming.py
  tests/unit/checks/manifest/sources/test_properties.py
  tests/unit/checks/manifest/sources/test_tags.py
  tests/unit/checks/manifest/test_sources.py
Due: rumdl

refactor: split check_columns.py into columns/ subpackage
  docs/checks/catalog/check_columns.md
  docs/checks/catalog/columns/description.md
  docs/checks/catalog/columns/naming.md
  docs/checks/catalog/columns/tests.md
  docs/checks/index.md
  src/dbt_bouncer/checks/catalog/check_columns.py
  src/dbt_bouncer/checks/catalog/columns/__init__.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  tests/unit/checks/catalog/columns/__init__.py
  tests/unit/checks/catalog/columns/conftest.py
  tests/unit/checks/catalog/columns/test_description.py
  tests/unit/checks/catalog/columns/test_naming.py
  tests/unit/checks/catalog/columns/test_tests.py
  tests/unit/checks/catalog/test_columns.py
Due: rumdl

Skip redundant Pydantic model_rebuild() calls
  src/dbt_bouncer/config_file_validator.py
Due: none

Limit check discovery to configured categories
  src/dbt_bouncer/utils.py
Due: none

Rename sources/properties to sources/directories to match conventions
  docs/checks/index.md
  docs/checks/manifest/sources/directories.md
  src/dbt_bouncer/checks/manifest/sources/directories.py
  tests/unit/checks/manifest/sources/test_directories.py
Due: rumdl

Defer manifest_latest import to point of use
  src/dbt_bouncer/artifact_parsers/parsers_manifest.py
Due: none

Pass explicit types_namespace to BouncerContext.model_rebuild
  src/dbt_bouncer/context.py
Due: none

Fix source/semantic_model wrapping and revert context.py
  src/dbt_bouncer/artifact_parsers/parsers_manifest.py
  src/dbt_bouncer/context.py
Due: none

Use PEP 562 __getattr__ for lazy TypeAlias loading
  src/dbt_bouncer/artifact_parsers/parsers_manifest.py
  src/dbt_bouncer/context.py
Due: none

Conditionally import artifact types based on configured check categories
  src/dbt_bouncer/config_file_parser.py
  src/dbt_bouncer/config_file_validator.py
Due: none

Always import BaseCheck annotation types in _import_artifact_types
  src/dbt_bouncer/config_file_validator.py
Due: none

perf: use stub types for config validation, defer heavy artifact imports
  src/dbt_bouncer/config_file_validator.py
  tests/unit/test_config_file_validator.py
Due: none

Path conditions:
  rumdl: any of: \.(md|markdown|mdown)$, but not: ^dist
  tombi: any of: \.toml$, but not: ^dist
