Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

feat: update dbt_project fixtures and dynamic test counting
  dbt-bouncer-example.yml
  dbt_project/macros/cents_to_dollars.sql
  dbt_project/macros/system/generate_schema_name.sql
  dbt_project/models/intermediate/test_cases/int_incremental.sql
  dbt_project/models/marts/finance/_finance__models.yml
  dbt_project/models/marts/finance/_finance_unit_tests.yml
  dbt_project/models/marts/finance/customers_v3.sql
  dbt_project/models/marts/finance/orders.sql
  dbt_project/models/staging/crm/stg_orders.sql
  dbt_project/models/staging/payments/stg_payments.sql
  dbt_project/snapshots/snapshot_orders.sql
  dbt_project/snapshots/snapshot_orders_multiple_unique_keys.sql
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  dbt_project/tests/generic/values_below_threshold.sql
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_19/target/catalog.json
  tests/fixtures/dbt_19/target/manifest.json
  tests/fixtures/dbt_19/target/run_results.json
  tests/unit/test_main.py
Due: none

fix: update mkdocstrings filter to match refactored check functions
  mkdocs.yml
Due: none

fix: pin bencher to v0.5.10 across all workflows and Dockerfile
  .devcontainer/Dockerfile
  .github/workflows/merge_pipeline.yml
  .github/workflows/pull_request_benchmarks_track.yml
Due: none

fix: remove duplicate BENCHER_VERSION that overrode pinned value
  .devcontainer/Dockerfile
Due: none

fix: pin labeler workflow to ubuntu-24.04
  .github/workflows/labeler.yml
Due: none

fix: update ruff and sqlfmt dev dependency version pins
  pyproject.toml
  uv.lock
Due: tombi

docs: add check_model_hard_coded_references to example config
  dbt-bouncer-example.yml
Due: none

fix: log config validation exceptions instead of swallowing silently
  src/dbt_bouncer/config_file_validator.py
Due: none

perf: pre-compile regex patterns in code check module
  src/dbt_bouncer/checks/manifest/models/code.py
Due: none

fix: pin Windows runner to windows-2025 in all workflows
  .github/workflows/merge_pipeline.yml
  .github/workflows/post_release_pipeline.yml
Due: none

perf: use orjson for check registry cache serialization
  src/dbt_bouncer/utils.py
Due: none

fix: align devcontainer uv version with main Dockerfile
  .devcontainer/Dockerfile
Due: none

fix: tighten pytest version constraint to >=8,<9
  pyproject.toml
  uv.lock
Due: tombi

refactor: narrow exception handling in plugin loaders
  src/dbt_bouncer/utils.py
Due: none

docs: add introductory text to model check category pages
  docs/checks/manifest/models/access.md
  docs/checks/manifest/models/code.md
  docs/checks/manifest/models/columns.md
  docs/checks/manifest/models/description.md
  docs/checks/manifest/models/directories.md
  docs/checks/manifest/models/lineage.md
  docs/checks/manifest/models/meta.md
  docs/checks/manifest/models/naming.md
  docs/checks/manifest/models/tags.md
  docs/checks/manifest/models/tests.md
  docs/checks/manifest/models/versioning.md
Due: rumdl

fix: replace 'cataloging' with 'classification' to pass cspell
  docs/checks/manifest/models/meta.md
Due: rumdl

test: add test for unexpected exception handling in lint_config_file
  tests/unit/test_config_file_validator.py
Due: none

docs: update custom check example to match decorator API
  docs/getting_started.md
Due: rumdl

Adding migration guide for v3
  cspell.json
  docs/migration/v3.md
Due: rumdl

Adding release to AGENTS.md
  AGENTS.md
Due: rumdl

fix: use Typer boolean flag syntax in GitHub Action
  action.yml
  docs/migration/v3.md
Due: rumdl

refactor: add reporting directory
  scripts/assert_alphabetical_checks.py
  scripts/generate_schema.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/reporting/__init__.py
  src/dbt_bouncer/reporting/formatters.py
  src/dbt_bouncer/reporting/logger.py
  src/dbt_bouncer/reporting/reporter.py
  src/dbt_bouncer/runner.py
  tests/unit/reporting/test_logger.py
  tests/unit/reporting/test_reporter.py
  tests/unit/test_runner.py
Due: none

feat: add dbt-bouncer-example.toml and TOML test configs
  cspell.json
  docs/config_file.md
  docs/dbt-bouncer-example.toml
  tests/unit/config_files/valid/all_check_categories.toml
  tests/unit/config_files/valid/catalog_and_manifest_checks.toml
  tests/unit/config_files/valid/catalog_and_run_results_checks.toml
  tests/unit/config_files/valid/catalog_checks_only.toml
  tests/unit/config_files/valid/dbt_artifacts_dir_passed.toml
  tests/unit/config_files/valid/exclude.toml
  tests/unit/config_files/valid/exclude_and_include.toml
  tests/unit/config_files/valid/include.toml
  tests/unit/config_files/valid/manifest_and_run_results_checks.toml
  tests/unit/config_files/valid/manifest_checks_only.toml
  tests/unit/config_files/valid/multiple_check_categories.toml
  tests/unit/config_files/valid/no_dbt_artifacts_dir.toml
  tests/unit/config_files/valid/run_results_checks_only.toml
  tests/unit/test_config_file_validator.py
Due: rumdl, tombi

feat: add AI PR review workflow using Claude Opus 4.6
  .github/workflows/pull_request_ai_review.yml
Due: none

feat: add implement job to issue_ai_fix workflow
  .github/workflows/issue_ai_fix.yml
Due: none

feat: add issue AI fix workflow — analyse job
  .github/workflows/issue_ai_fix.yml
Due: none

fix: add explicit ref: main to analyse job checkout
  .github/workflows/issue_ai_fix.yml
Due: none

fix: correct check_seed_names example — use seed_name_pattern
  schema.json
  src/dbt_bouncer/checks/manifest/check_seeds.py
Due: none

fix: post analyse comment via file-based approach in issue_ai_fix
  .github/workflows/issue_ai_fix.yml
Due: none

fix: include issue context in analyse prompt
  .github/workflows/issue_ai_fix.yml
Due: none

refactor: deep review improvements across codebase
  .github/workflows/post_release_pipeline.yml
  makefile
  pyproject.toml
  src/dbt_bouncer/check_decorator.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
  src/dbt_bouncer/config_file_parser.py
  src/dbt_bouncer/config_file_validator.py
  src/dbt_bouncer/executor.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/runner.py
  src/dbt_bouncer/utils.py
  tests/integration/test_integration_main.py
Due: tombi

chore: regenerate schema.json after docstring updates
  schema.json
Due: none

refactor: address PR review suggestions
  src/dbt_bouncer/main.py
  src/dbt_bouncer/utils.py
  tests/unit/checks/manifest/models/test_access.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/checks/manifest/models/test_lineage.py
  tests/unit/checks/manifest/models/test_tests.py
  tests/unit/checks/manifest/test_macros.py
  tests/unit/checks/manifest/test_unit_tests.py
  tests/unit/checks/run_results/test_run_results.py
Due: none

refactor: address second round of PR review suggestions
  schema.json
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/utils.py
Due: none

refactor: address third round of PR review suggestions
  tests/integration/test_integration_main.py
Due: none

fix: update pymdown-extensions to 10.21.2 for pygments 2.20.0 compat
  uv.lock
Due: none

chore: migrate dbt project for Fusion compatibility via dbt-autofix
  dbt_project/dbt_project.yml
  dbt_project/macros/system/generate_schema_name.sql
  dbt_project/models/intermediate/finance/_int_finance__models.yml
  dbt_project/models/intermediate/test_cases/int_incremental.sql
  dbt_project/models/marts/finance/_exposures.yml
  dbt_project/models/marts/finance/_finance__models.yml
  dbt_project/models/marts/finance/orders.sql
  dbt_project/models/staging/crm/_crm__sources.yml
  dbt_project/models/staging/crm/_stg_crm__models.yml
  dbt_project/models/staging/payments/_payments__sources.yml
  dbt_project/models/staging/payments/_stg_payments__models.yml
  dbt_project/models/utilities/time_spines/_utilities_time_spines__models.yml
  dbt_project/snapshots/snapshot_orders.sql
  dbt_project/snapshots/snapshot_orders_multiple_unique_keys.sql
  dbt_project/tests/generic/values_below_threshold.sql
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_19/target/catalog.json
  tests/fixtures/dbt_19/target/manifest.json
  tests/fixtures/dbt_19/target/run_results.json
Due: none

chore: revert dbt_19 fixtures to main state (frozen)
  tests/fixtures/dbt_19/target/catalog.json
  tests/fixtures/dbt_19/target/manifest.json
  tests/fixtures/dbt_19/target/run_results.json
Due: none

fix: restore external_location and formatter to config level in CRM sources
  dbt_project/models/staging/crm/_crm__sources.yml
  makefile
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
Due: none

feat: add dbt-fusion probe job and FAQ entry (#779)
  .github/workflows/dbt_artifact_probes.yml
  docs/faq.md
Due: rumdl
