Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

rumdl:
  entry: uv run rumdl check --fix
  language: system
  name: rumdl
  require_serial: true

tombi:
  entry: uv run tombi format
  language: system
  name: tombi
  require_serial: true

feat: add Rust-based JSON artifact parser (dbt_artifacts_rs)
  rust/.github/workflows/CI.yml
  rust/.gitignore
  rust/Cargo.lock
  rust/Cargo.toml
  rust/pyproject.toml
  rust/src/lib.rs
  src/dbt_bouncer/artifact_parsers/rust_adapter.py
  src/dbt_bouncer/utils.py
Due: tombi

feat: auto-detect Rust parser and use it when available
  src/dbt_bouncer/main.py
Due: none

fix: restore summary table for Rust path, fix runner test failures
  src/dbt_bouncer/artifact_parsers/parsers_common.py
  src/dbt_bouncer/main.py
  tests/conftest.py
Due: none

perf: pre-build Python dicts from JsonObj for O(1) key lookups
  src/dbt_bouncer/artifact_parsers/rust_adapter.py
Due: none

docs: add design doc for Rust native integration
  docs/plans/2026-03-07-rust-native-integration-design.md
Due: rumdl

docs: add implementation plan for Rust native integration
  docs/plans/2026-03-07-rust-native-integration-plan.md
Due: rumdl

refactor: move Rust source to standard maturin layout
  .gitignore
  Cargo.lock
  Cargo.toml
  rust/.github/workflows/CI.yml
  rust/.gitignore
  rust/pyproject.toml
  src/lib.rs
Due: tombi

build: switch build backend to maturin
  pyproject.toml
  src/dbt_artifacts_rs/__init__.py
Due: tombi

test: add Rust unit tests for JsonObj and parse functions
  Cargo.toml
  src/lib.rs
Due: tombi

test: add Python integration tests for Rust extension
  tests/unit/test_rust_extension.py
Due: none

build: add makefile targets for Rust build and test
  makefile
Due: none

ci: add Rust build, test, and wheel stages to CI pipeline
  .github/workflows/ci_pipeline.yml
Due: none

ci: add platform wheel builds to release pipeline
  .github/workflows/release_pipeline.yml
Due: none

docs: add Rust acceleration documentation
  README.md
  cspell.json
  docs/rust-acceleration.md
  mkdocs.yml
Due: rumdl

fix: make rust-test work and add to make test
  Cargo.toml
  makefile
  pyproject.toml
Due: tombi

build: add maturin develop to make install
  makefile
Due: none

feat: add --rust flag to run command
  docs/rust-acceleration.md
  src/dbt_bouncer/main.py
  tests/unit/test_rust_extension.py
Due: rumdl

feat: eliminate deep cloning, add musllinux wheels, and type stubs
  .github/workflows/release_pipeline.yml
  src/dbt_artifacts_rs/__init__.pyi
  src/dbt_bouncer/artifact_parsers/rust_adapter.py
  src/lib.rs
Due: none

feat: support dbt-bouncer.toml as a config file
  docs/config_file.md
  docs/getting_started.md
  src/dbt_bouncer/config_file_validator.py
  src/dbt_bouncer/main.py
  tests/unit/test_config_file_validator.py
Due: rumdl

feat: auto-label PRs and categorize release notes
  .github/labels/branch_pass.yml
  .github/labels/default_pass.yml
  .github/labels/files_pass.yml
  .github/release.yml
  .github/workflows/labeler.yml
Due: none

fix: bump actions/labeler to v6 and actions/checkout to v6
  .github/workflows/labeler.yml
Due: none

docs: add comment explaining pull_request_target trigger choice
  .github/workflows/labeler.yml
Due: none

refactror: consolidate resource type enum into the enum module
  src/dbt_bouncer/__init__.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/resource_type.py
  src/dbt_bouncer/runner.py
Due: none

refactor: use auto
  src/dbt_bouncer/enums.py
Due: none

refactor: add ConfigFileName enum for config file name constants
  src/dbt_bouncer/__init__.py
  src/dbt_bouncer/config_file_validator.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/main.py
Due: none

refactor: add CheckOutcome, CheckSeverity, and Materialization enums
  src/dbt_bouncer/__init__.py
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/formatters.py
  src/dbt_bouncer/runner.py
Due: none

fix: suppress ListProxy.__getitem__ override for ty compatibility
  src/dbt_bouncer/artifact_parsers/fast_parser.py
Due: none

fix: rebuild BouncerContext in test session fixture
  tests/conftest.py
Due: none

feat: add orjson-based fast artifact parser and fix ty errors
  src/dbt_bouncer/artifact_parsers/dbt_cloud/run_results_latest.py
  src/dbt_bouncer/artifact_parsers/fast_parser.py
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/common.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/config_file_validator.py
  src/dbt_bouncer/formatters.py
  src/dbt_bouncer/logger.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/utils.py
Due: none

refactor: rewrite context.py to remove artifact parser dependencies
  src/dbt_bouncer/context.py
Due: none

feat: add Protocol types for dbt artifact resources
  src/dbt_bouncer/artifact_types.py
Due: none

refactor: rename parse_dbt_artifacts_fast to parse_dbt_artifacts and add wrap_dict helper
  src/dbt_bouncer/artifact_parsers/fast_parser.py
Due: none

fix: add direct NestedDict import to sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
Due: none

refactor: replace typed forward refs with Any in check_base.py
  src/dbt_bouncer/check_base.py
Due: none

test: update all test fixtures to use DictProxy/SimpleNamespace
  src/dbt_bouncer/artifact_parsers/fast_parser.py
  tests/conftest.py
  tests/integration/test_integration_main.py
  tests/unit/checks/catalog/columns/conftest.py
  tests/unit/checks/catalog/test_catalog_seeds.py
  tests/unit/checks/catalog/test_catalog_sources.py
  tests/unit/checks/manifest/models/conftest.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/sources/test_description.py
  tests/unit/checks/manifest/sources/test_directories.py
  tests/unit/checks/manifest/sources/test_freshness.py
  tests/unit/checks/manifest/sources/test_lineage.py
  tests/unit/checks/manifest/sources/test_loader.py
  tests/unit/checks/manifest/sources/test_meta.py
  tests/unit/checks/manifest/sources/test_naming.py
  tests/unit/checks/manifest/sources/test_tags.py
  tests/unit/checks/manifest/test_exposures.py
  tests/unit/checks/manifest/test_lineage.py
  tests/unit/checks/manifest/test_macros.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/checks/manifest/test_semantic_models.py
  tests/unit/checks/manifest/test_snapshots.py
  tests/unit/checks/manifest/test_tests.py
  tests/unit/checks/manifest/test_unit_tests.py
  tests/unit/checks/run_results/test_run_results.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_main.py
  tests/unit/test_parsers_manifest.py
  tests/unit/test_runner.py
Due: none

chore: remove dbt-artifacts-parser dependency
  pyproject.toml
  uv.lock
Due: tombi

refactor: remove --fast/--no-fast flag, always use orjson parser in main.py
  src/dbt_bouncer/main.py
Due: none

refactor: remove old artifact parser imports from config_file_validator.py
  src/dbt_bouncer/config_file_validator.py
Due: none

chore: delete old Pydantic parser modules and dbt_cloud directory
  src/dbt_bouncer/artifact_parsers/dbt_cloud/README.md
  src/dbt_bouncer/artifact_parsers/dbt_cloud/catalog_latest.py
  src/dbt_bouncer/artifact_parsers/dbt_cloud/manifest_latest.py
  src/dbt_bouncer/artifact_parsers/dbt_cloud/run_results_latest.py
  src/dbt_bouncer/artifact_parsers/parsers_catalog.py
  src/dbt_bouncer/artifact_parsers/parsers_common.py
  src/dbt_bouncer/artifact_parsers/parsers_manifest.py
  src/dbt_bouncer/artifact_parsers/parsers_run_results.py
Due: rumdl

refactor: remove old artifact parser imports from all check files
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
Due: none

Path conditions:
  rumdl: any of: \.(md|markdown|mdown)$, but not: ^dist
  tombi: any of: \.toml$, but not: ^dist
