Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

fix: guard coverage checks against an empty model list (#1029)
  schema.json
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/checks/manifest/models/test_tests.py
Due: none

fix: report undocumented models as undocumented, not misplaced (#1030)
  schema.json
  src/dbt_bouncer/checks/manifest/models/description.py
  tests/unit/checks/manifest/models/test_description.py
Due: none

chore!: remove the v3 deprecation shim modules
  docs/migration/v3.md
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/check_context.py
  src/dbt_bouncer/check_decorator.py
  src/dbt_bouncer/check_patterns.py
  src/dbt_bouncer/checks/common.py
  src/dbt_bouncer/utils.py
  tests/unit/test_deprecation_shims.py
  tests/unit/test_utils.py
Due: rumdl

ci: invoke dbt-bouncer via the run subcommand in the GitHub Action
  action.yml
Due: none

docs: disambiguate the include parameter of check_model_directories
  schema.json
  src/dbt_bouncer/checks/manifest/models/directories.py
Due: none

feat!: raise the minimum supported dbt version to 1.9
  README.md
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/check_framework/patterns.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  tests/fixtures/dbt_17/target/catalog.json
  tests/fixtures/dbt_17/target/manifest.json
  tests/fixtures/dbt_17/target/run_results.json
  tests/fixtures/dbt_18/target/catalog.json
  tests/fixtures/dbt_18/target/manifest.json
  tests/fixtures/dbt_18/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/check_framework/test_patterns.py
  tests/unit/checks/manifest/models/test_tests.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/test_main.py
Due: rumdl

refactor!: rename OutputFormatCLI to ListOutputFormat and align output-format help
  docs/cli.md
  docs/migration/v3.md
  src/dbt_bouncer/cli/list/__init__.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/main.py
Due: rumdl

feat: criteria parameter for the has_meta_keys checks
  schema.json
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/utils.py
  tests/unit/checks/manifest/models/test_meta.py
  tests/unit/checks/manifest/sources/test_meta.py
  tests/unit/checks/manifest/test_exposures.py
  tests/unit/checks/manifest/test_macros.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/checks/manifest/test_snapshots.py
  tests/unit/checks/manifest/test_tests.py
  tests/unit/test_utils.py
Due: none

feat: standardise regexp check naming, alias the deprecated name
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  docs/dbt-bouncer-example.toml
  docs/migration/v3.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/test_config_file_validator.py
Due: rumdl, tombi

ci: invoke dbt-bouncer via the run subcommand in the GitHub Action (#1034)
  action.yml
Due: none

docs: disambiguate the include parameter of check_model_directories (#1035)
  schema.json
  src/dbt_bouncer/checks/manifest/models/directories.py
Due: none

fix: clear stale dbt 1.7 references left by the version bump
  dbt_project/internal_package/dbt_project.yml
  tests/unit/checks/manifest/models/test_access.py
Due: none

test: cover the one-criteria case with no keys present
  tests/unit/test_utils.py
Due: none

fix: warn when a deprecated check name is passed via --check
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/test_main.py
Due: none

docs: add the v4 column to the supported-versions table
  SECURITY.md
  mise.toml
  tests/benchmark/synthetic_manifest.py
Due: rumdl, tombi

docs: correct the remaining dbt 1.8 reference in the benchmark helper
  tests/benchmark/synthetic_manifest.py
Due: none

chore!: remove the v3 deprecation shim modules (#1031)
  docs/migration/v3.md
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/check_context.py
  src/dbt_bouncer/check_decorator.py
  src/dbt_bouncer/check_patterns.py
  src/dbt_bouncer/checks/common.py
  src/dbt_bouncer/utils.py
  tests/unit/test_deprecation_shims.py
  tests/unit/test_utils.py
Due: rumdl

refactor: use the MetaConfig alias in the criteria helper
  src/dbt_bouncer/utils.py
Due: none

feat!: raise the minimum supported dbt version to 1.9 (#1036)
  README.md
  SECURITY.md
  dbt_project/internal_package/dbt_project.yml
  docs/checks/rule_codes.md
  mise.toml
  schema.json
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/check_framework/patterns.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  tests/benchmark/synthetic_manifest.py
  tests/fixtures/dbt_17/target/catalog.json
  tests/fixtures/dbt_17/target/manifest.json
  tests/fixtures/dbt_17/target/run_results.json
  tests/fixtures/dbt_18/target/catalog.json
  tests/fixtures/dbt_18/target/manifest.json
  tests/fixtures/dbt_18/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/check_framework/test_patterns.py
  tests/unit/checks/manifest/models/test_access.py
  tests/unit/checks/manifest/models/test_tests.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/test_main.py
Due: rumdl, tombi

refactor!: rename OutputFormatCLI to ListOutputFormat and align output-format help (#1038)
  docs/cli.md
  docs/migration/v3.md
  src/dbt_bouncer/cli/list/__init__.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/main.py
Due: rumdl

feat: standardise regexp check naming, alias the deprecated name (#1040)
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  docs/dbt-bouncer-example.toml
  docs/migration/v3.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_main.py
Due: rumdl, tombi

feat: criteria parameter for the has_meta_keys checks (#1039)
  schema.json
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/utils.py
  tests/unit/checks/manifest/models/test_meta.py
  tests/unit/checks/manifest/sources/test_meta.py
  tests/unit/checks/manifest/test_exposures.py
  tests/unit/checks/manifest/test_macros.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/checks/manifest/test_snapshots.py
  tests/unit/checks/manifest/test_tests.py
  tests/unit/test_utils.py
Due: none

feat: distinct exit codes for config and artifact errors
  docs/cli.md
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/cli/validate/__init__.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/exceptions.py
  tests/integration/test_integration_main.py
  tests/integration/test_programmatic_invocation.py
  tests/unit/test_cli_validate.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_config_file_validator_cache.py
  tests/unit/test_exit_codes.py
  tests/unit/test_main.py
Due: rumdl

docs: document the typed exceptions and validate's exit codes
  docs/cli.md
  src/dbt_bouncer/cli/run/utils.py
Due: rumdl

fix: raise the typed config error from load_config_from_yaml
  src/dbt_bouncer/utils.py
  tests/unit/test_utils_fallbacks.py
Due: none

feat: distinct exit codes for config and artifact errors (#1037)
  docs/cli.md
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/cli/validate/__init__.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/exceptions.py
  src/dbt_bouncer/utils.py
  tests/integration/test_integration_main.py
  tests/integration/test_programmatic_invocation.py
  tests/unit/test_cli_validate.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_config_file_validator_cache.py
  tests/unit/test_exit_codes.py
  tests/unit/test_main.py
  tests/unit/test_utils_fallbacks.py
Due: rumdl

ci: authenticate mise's GitHub API calls in the dev-container job
  .github/workflows/ci_pipeline.yml
Due: none

ci: authenticate mise's GitHub API calls in the dev-container job (#1042)
  .github/workflows/ci_pipeline.yml
Due: none

feat!: raise a clear error for class-based checks
  docs/migration/v3.md
  src/dbt_bouncer/utils.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_main.py
  tests/unit/test_runner.py
  tests/unit/test_utils.py
Due: rumdl

refactor!: drop the class-based check framework
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/migration/v3.md
  src/dbt_bouncer/check_framework/__init__.py
  src/dbt_bouncer/check_framework/base.py
  src/dbt_bouncer/check_framework/patterns.py
  src/dbt_bouncer/runner.py
  tests/unit/check_framework/test_base.py
  tests/unit/check_framework/test_patterns.py
  tests/unit/test_runner.py
Due: rumdl

refactor: raise the typed config error for class-based checks
  src/dbt_bouncer/utils.py
  tests/unit/test_main.py
  tests/unit/test_utils.py
Due: none

test: assert how class-based checks actually dispatch
  tests/unit/test_runner.py
Due: none

Resolving dbt-bouncer warnings
  .gitignore
  dbt_project/models/staging/crm/_crm__sources.yml
  dbt_project/models/staging/payments/_payments__sources.yml
  dbt_project/target/manifest.json
Due: none

refactor!: drop the class-based check framework (#1032)
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/migration/v3.md
  src/dbt_bouncer/check_framework/__init__.py
  src/dbt_bouncer/check_framework/base.py
  src/dbt_bouncer/check_framework/patterns.py
  src/dbt_bouncer/runner.py
  src/dbt_bouncer/utils.py
  tests/unit/check_framework/test_base.py
  tests/unit/check_framework/test_patterns.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_main.py
  tests/unit/test_runner.py
  tests/unit/test_utils.py
Due: rumdl

refactor!: trim back-compat re-exports from the public API
  docs/migration/v3.md
  pyproject.toml
  src/dbt_bouncer/__init__.py
  src/dbt_bouncer/cli/__init__.py
  src/dbt_bouncer/main.py
  tests/unit/test_cli_lazy_imports.py
  tests/unit/test_cli_public_api.py
  tests/unit/test_enums.py
Due: rumdl, tombi

refactor!: trim back-compat re-exports from the public API (#1033)
  docs/migration/v3.md
  pyproject.toml
  src/dbt_bouncer/__init__.py
  src/dbt_bouncer/cli/__init__.py
  src/dbt_bouncer/main.py
  tests/unit/test_cli_lazy_imports.py
  tests/unit/test_cli_public_api.py
  tests/unit/test_enums.py
Due: rumdl, tombi

build: pin tombi to a bounded version range
  pyproject.toml
  uv.lock
Due: tombi

Updating all test artifacts
  .gitignore
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_19/target/catalog.json
  tests/fixtures/dbt_19/target/manifest.json
  tests/fixtures/dbt_19/target/run_results.json
Due: none

docs: add the v4 migration guide
  docs/migration/v4.md
  mkdocs.yml
Due: rumdl

docs: describe how class-based checks now fail in v4
  docs/migration/v4.md
Due: rumdl
