Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

docs: address third-round AI review suggestions on benchmark suite
  tests/benchmark/conftest.py
  tests/benchmark/synthetic_manifest.py
  tests/benchmark/test_benchmarks.py
Due: none

style: make _format_pct baseline guard explicit
  tests/benchmark/conftest.py
Due: none

tests: extend benchmarking suite with synthetic model benchmarks (#971)
  .github/workflows/ci_pipeline.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/pull_request_benchmarks_track.yml
  .gitignore
  AGENTS.md
  cspell.json
  docs/CONTRIBUTING.md
  makefile
  pyproject.toml
  src/dbt_bouncer/runner.py
  tests/benchmark/__init__.py
  tests/benchmark/benchmark-config.yml
  tests/benchmark/conftest.py
  tests/benchmark/synthetic_manifest.py
  tests/benchmark/test_benchmarks.py
  uv.lock
Due: rumdl, tombi

chore: tighten dbt-core 1.12 constraint to stable release
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  makefile
  pyproject.toml
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  uv.lock
Due: tombi

chore: tighten dbt-core 1.12 constraint to stable release (#909)
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  makefile
  pyproject.toml
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  uv.lock
Due: tombi

feat: add enums for check_category, criteria, and model access
  schema.json
  src/dbt_bouncer/__init__.py
  src/dbt_bouncer/check_framework/patterns.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/cli/list/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/parser.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/utils.py
  tests/unit/checks/manifest/models/test_lineage.py
  tests/unit/checks/manifest/models/test_tags.py
  tests/unit/checks/manifest/sources/test_tags.py
  tests/unit/checks/manifest/test_snapshots.py
  tests/unit/checks/manifest/test_tests.py
  tests/unit/test_enums.py
Due: none

docs: align criteria docstrings with Criteria enum signature
  schema.json
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
Due: none

perf: improve how model id is fetched
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
Due: none

feat: add enums for check_category, criteria, and model access (#972)
  schema.json
  src/dbt_bouncer/__init__.py
  src/dbt_bouncer/check_framework/patterns.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/cli/list/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/parser.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/utils.py
  tests/unit/checks/manifest/models/test_lineage.py
  tests/unit/checks/manifest/models/test_tags.py
  tests/unit/checks/manifest/sources/test_tags.py
  tests/unit/checks/manifest/test_snapshots.py
  tests/unit/checks/manifest/test_tests.py
  tests/unit/test_enums.py
Due: none

refactor: extract shared get_model_for_catalog_node helper
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/utils.py
Due: none

test: add unit tests for get_model_for_catalog_node
  tests/unit/test_utils.py
Due: none

test: cover empty models_by_id dict in get_model_for_catalog_node
  tests/unit/test_utils.py
Due: none

perf: use models_by_unique_id lookup in catalog column checks instead of linear scan (#973)
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/utils.py
  tests/unit/test_utils.py
Due: none

fix: escape rich markup in console failure report
  src/dbt_bouncer/reporting/reporter.py
  tests/unit/reporting/test_reporter.py
Due: none

fix: escape rich markup in console failure report (#975)
  src/dbt_bouncer/reporting/reporter.py
  tests/unit/reporting/test_reporter.py
Due: none

perf: add test-benchmark-aggregate
  AGENTS.md
  docs/CONTRIBUTING.md
  makefile
  tests/benchmark/aggregate_benchmarks.py
  tests/unit/test_aggregate_benchmarks.py
Due: rumdl

perf: add test-benchmark-aggregate (#976)
  AGENTS.md
  docs/CONTRIBUTING.md
  makefile
  tests/benchmark/aggregate_benchmarks.py
  tests/unit/test_aggregate_benchmarks.py
Due: rumdl

feat: utilize jinja library lexer to neutralize jinja
  src/dbt_bouncer/sql_utils.py
  tests/unit/test_sql_utils.py
Due: none

docs: clarify lexer-only autoescape and test unlexable-input contract
  src/dbt_bouncer/sql_utils.py
  tests/unit/test_sql_utils.py
Due: none

feat: utilize jinja library lexer to neutralize jinja (#977)
  src/dbt_bouncer/sql_utils.py
  tests/unit/test_sql_utils.py
Due: none

fix: total percentages of test run should be equal to 100%
  tests/benchmark/conftest.py
  tests/benchmark/test_benchmarks.py
Due: none

docs: note _phase_timers thread-safety and clarify sum invariant tolerance
  tests/benchmark/conftest.py
  tests/benchmark/test_benchmarks.py
Due: none

fix: total percentages of test run should be equal to 100% (#978)
  tests/benchmark/conftest.py
  tests/benchmark/test_benchmarks.py
Due: none

perf: use shallow copy in assemble check to run
  src/dbt_bouncer/runner.py
  tests/benchmark/test_benchmarks.py
  tests/unit/test_check_context.py
Due: none

fix: support config.meta.labels in check_source_has_labels_keys for dbt 2.0
  dbt_project/models/marts/finance/_exposures.yml
  dbt_project/models/staging/crm/_crm__sources.yml
  dbt_project/seeds/_seeds.yml
  dbt_project/snapshots/_snapshots.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  schema.json
  src/dbt_bouncer/checks/manifest/sources/meta.py
  tests/unit/checks/manifest/sources/test_meta.py
Due: none

fix: support config.meta.labels in check_source_has_labels_keys for dbt 2.0 (#980)
  dbt_project/models/marts/finance/_exposures.yml
  dbt_project/models/staging/crm/_crm__sources.yml
  dbt_project/seeds/_seeds.yml
  dbt_project/snapshots/_snapshots.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  schema.json
  src/dbt_bouncer/checks/manifest/sources/meta.py
  tests/unit/checks/manifest/sources/test_meta.py
Due: none

perf: use shallow copy in assemble check to run (#979)
  src/dbt_bouncer/runner.py
  tests/benchmark/test_benchmarks.py
  tests/unit/test_check_context.py
Due: none

perf: add debug_enabled for _execute_check
  src/dbt_bouncer/executor.py
  tests/unit/test_executor.py
Due: none

feat: add debug_enabled as false by default
  src/dbt_bouncer/executor.py
Due: none

tests: adjust performance test stats
  makefile
  pyproject.toml
  tests/benchmark/conftest.py
  tests/benchmark/test_benchmarks.py
  uv.lock
Due: tombi

feat: also tqdm for agg
  tests/benchmark/aggregate_benchmarks.py
  tests/unit/test_aggregate_benchmarks.py
Due: none

fix: pin Atuin install in devcontainer to bypass broken setup.atuin.sh wrapper
  .devcontainer/Dockerfile
Due: none

docs: note upstream fix and pin re-evaluation condition for Atuin
  .devcontainer/Dockerfile
Due: none

fix: pin Atuin install in devcontainer to bypass broken setup.atuin.sh wrapper (#983)
  .devcontainer/Dockerfile
Due: none

test: add BENCH_PHASE_ROUNDS override and tidy Console construction
  makefile
  tests/benchmark/conftest.py
  tests/benchmark/synthetic_manifest.py
Due: none

docs: clarify _env_int floor applies only to parsed values
  tests/benchmark/synthetic_manifest.py
Due: none

perf: execute checks sequentially instead of via ThreadPoolExecutor
  src/dbt_bouncer/executor.py
Due: none

tests: adjust performance test with better statistics (#982)
  makefile
  pyproject.toml
  tests/benchmark/aggregate_benchmarks.py
  tests/benchmark/conftest.py
  tests/benchmark/synthetic_manifest.py
  tests/benchmark/test_benchmarks.py
  tests/unit/test_aggregate_benchmarks.py
  uv.lock
Due: tombi

docs: update AGENTS.md to reflect sequential check execution
  AGENTS.md
Due: rumdl

perf: execute checks sequentially instead of via ThreadPoolExecutor (#984)
  AGENTS.md
  src/dbt_bouncer/executor.py
Due: rumdl
