Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

feat: warn when custom check files are skipped at the top level (#1080)
  src/dbt_bouncer/utils.py
  tests/unit/test_utils.py
Due: none

feat: raise an error when a custom check fails to load (#1081)
  src/dbt_bouncer/utils.py
  tests/unit/test_utils.py
Due: none

feat: exit non-zero when no checks run (#1082)
  docs/cli.md
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/runner.py
  tests/unit/test_main.py
  tests/unit/test_runner.py
Due: rumdl

docs: note that structured output must be parsed, not the console table (#1079)
  docs/cli.md
  docs/faq.md
Due: rumdl

fix: silence FastMCP lifespan forward-ref warning in build_server
  src/dbt_bouncer/cli/mcp/server.py
Due: none

refactor: log the rebuild failure instead of swallowing it
  src/dbt_bouncer/cli/mcp/server.py
Due: none

fix: silence FastMCP lifespan forward-ref warning in build_server (#1084)
  src/dbt_bouncer/cli/mcp/server.py
Due: none

refactor: reduce cognitive complexity of three model checks
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
Due: none

refactor: reduce cognitive complexity of orchestration functions
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/runner.py
Due: none

refactor: use startswith for upstream model-id package match
  src/dbt_bouncer/checks/manifest/models/lineage.py
Due: none

refactor: reduce cognitive complexity of three model checks (#1085)
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
Due: none

refactor: reduce cognitive complexity of orchestration functions (#1086)
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/runner.py
Due: none

fix: nest versioned column meta under config for dbt Fusion
  dbt_project/models/marts/finance/_finance__models.yml
Due: none

chore: regenerate dbt artifact fixtures
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
Due: none

fix: nest versioned column meta under config for dbt Fusion (#1087)
  dbt_project/models/marts/finance/_finance__models.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
Due: none

fix: keep real run_results in build-artifacts tasks
  mise.toml
Due: tombi

fix: keep real run_results in build-artifacts tasks (#1088)
  mise.toml
Due: tombi

feat: read run options from environment variables
  docs/cli.md
  docs/configuration.md
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/main.py
  tests/unit/test_main.py
Due: rumdl

test: address AI review suggestions on env var tests
  tests/unit/test_main.py
Due: none

feat: read `run` options from environment variables (#1090)
  docs/cli.md
  docs/configuration.md
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/main.py
  tests/unit/test_main.py
Due: rumdl

feat: add bundled config presets (minimal, standard, strict)
  docs/cli.md
  pyproject.toml
  src/dbt_bouncer/cli/init/__init__.py
  src/dbt_bouncer/cli/init/utils.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/presets/__init__.py
  src/dbt_bouncer/presets/minimal.yml
  src/dbt_bouncer/presets/standard.yml
  src/dbt_bouncer/presets/strict.yml
  tests/unit/test_presets.py
Due: rumdl, tombi

refactor: fail early on an unknown preset name
  src/dbt_bouncer/presets/__init__.py
  tests/unit/test_presets.py
Due: none

build: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

feat: add bundled config presets (minimal, standard, strict) (#1092)
  docs/cli.md
  pyproject.toml
  src/dbt_bouncer/cli/init/__init__.py
  src/dbt_bouncer/cli/init/utils.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/presets/__init__.py
  src/dbt_bouncer/presets/minimal.yml
  src/dbt_bouncer/presets/standard.yml
  src/dbt_bouncer/presets/strict.yml
  tests/unit/test_presets.py
Due: rumdl, tombi

feat: add baseline and state regression modes
  docs/cli.md
  src/dbt_bouncer/cli/baseline/__init__.py
  src/dbt_bouncer/cli/baseline/utils.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/regression.py
  src/dbt_bouncer/runner.py
  tests/integration/test_cli_baseline.py
  tests/unit/test_regression.py
Due: rumdl

build: pre-commit autoupdate (#1094)
  .pre-commit-config.yaml
Due: none

chore: group Dependabot updates into combined PRs
  .github/dependabot.yml
Due: none

chore: group Dependabot updates into combined PRs (#1103)
  .github/dependabot.yml
Due: none

chore: switch Dependabot Python ecosystem from pip to uv
  .github/dependabot.yml
Due: none

fix: sync uv.lock with mcp constraint from pyproject.toml
  uv.lock
Due: none

docs: add FAQ on onboarding an existing dbt project
  docs/faq.md
Due: rumdl

chore: switch Dependabot Python ecosystem from pip to uv (#1105)
  .github/dependabot.yml
Due: none

feat: add baseline and state regression modes (#1093)
  docs/cli.md
  docs/faq.md
  src/dbt_bouncer/cli/baseline/__init__.py
  src/dbt_bouncer/cli/baseline/utils.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/regression.py
  src/dbt_bouncer/runner.py
  tests/integration/test_cli_baseline.py
  tests/unit/test_regression.py
Due: rumdl

fix: sync uv.lock with mcp constraint from pyproject.toml (#1106)
  uv.lock
Due: none

fix: support mcp 2.0 in build_server
  src/dbt_bouncer/cli/mcp/server.py
  tests/unit/test_cli_mcp.py
Due: none

feat: add check_model_alias check
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/artifact_types.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_naming.py
Due: rumdl

test: cover check_model_alias param composition and tidy explicit-alias logic
  src/dbt_bouncer/checks/manifest/models/naming.py
  tests/unit/checks/manifest/models/test_naming.py
Due: none

feat: add check_model_alias check (#1109)
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/artifact_types.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_naming.py
Due: rumdl

tests: add integration test for cli exit codes
  tests/integration/test_integration_main.py
Due: none

feat: support dbt 2.0 GA
  .github/workflows/dbt_artifact_probes.yml
  .gitignore
  README.md
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  docs/faq.md
  docs/getting_started.md
  docs/migration/v4.md
  mise.toml
  pyproject.toml
  src/dbt_bouncer/artifact_parsers/parser.py
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  tests/unit/test_parsers_manifest.py
  uv.lock
Due: rumdl, tombi
