Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

chore: address AI review feedback
  .dockerignore
  README.md
Due: rumdl

chore: address AI review feedback
  .github/workflows/merge_pipeline.yml
  README.md
Due: rumdl

chore: address AI review feedback
  .github/workflows/merge_pipeline.yml
Due: none

fix: re-coerce RootModel fields on warm conf-cache load
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/test_config_file_validator.py
Due: none

refactor: add logging statement if no checks are found
  src/dbt_bouncer/executor.py
Due: none

refactor: use list comprehension
  src/dbt_bouncer/executor.py
Due: none

Update uv.lock
  uv.lock
Due: none

build: uv lock
  uv.lock
Due: none

revert: restore uv.lock to match main
  uv.lock
Due: none

fix: allow for macros to be used in dbt projects definitions
  src/dbt_bouncer/checks/manifest/check_macros.py
  tests/unit/checks/manifest/test_macros.py
  uv.lock
Due: none

feat: add check_seed_file_size
  dbt-bouncer-example.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  schema.json
  src/dbt_bouncer/artifact_types.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  tests/unit/checks/manifest/test_seeds.py
  uv.lock
Due: none

Adding Dyvenia logo
  cspell.json
  docs/assets/dyvenia_logo.jpeg
  docs/users.md
Due: rumdl

feat: migrate docs site from MkDocs to Zensical
  .github/workflows/ci_pipeline.yml
  .gitignore
  cspell.json
  docs/CONTRIBUTING.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  src/dbt_bouncer/main.py
  uv.lock
Due: rumdl, tombi

build(deps): pin zensical version range and mike fork commit
  pyproject.toml
  uv.lock
Due: tombi

build(deps): tighten zensical pin and annotate mike commit
  pyproject.toml
  uv.lock
Due: tombi

docs: address AI review yellows on mike pin and cspell entry
  cspell.json
  docs/CONTRIBUTING.md
Due: rumdl

docs: add blogs, PyData talk and fan appreciation to users page
  docs/users.md
Due: rumdl

feat: add support for dbt-core 1.12
  .gitignore
  .pre-commit-config.yaml
  SECURITY.md
  makefile
  pyproject.toml
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  uv.lock
Due: rumdl, tombi

chore: regenerate dbt_project/target artifacts with dbt-core 1.12.0b1
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
Due: none

feat: add seed row count and seed byte size catalog checks
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  tests/unit/checks/catalog/test_catalog_seeds.py
Due: none

docs: correct adapter list — Databricks does not emit row/byte stats
  schema.json
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
Due: none

docs: restore Databricks/Spark as supported adapter
  schema.json
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
Due: none

feat: make seed stat keys configurable via check params
  schema.json
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  tests/unit/checks/catalog/test_catalog_seeds.py
Due: none

test: add exact-at-limit boundary tests for seed size checks
  tests/unit/checks/catalog/test_catalog_seeds.py
Due: none

refactor: address v2 AI review yellows on seed size checks
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  tests/unit/checks/catalog/test_catalog_seeds.py
Due: none

perf: skip Pydantic model_validate on cache hit
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/test_config_file_validator.py
Due: none

refactor: avoid mutating caller's data dict in _construct_cached_check
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/test_config_file_validator.py
Due: none

fix: move docs extra to PEP 735 dependency-groups
  makefile
  pyproject.toml
  uv.lock
Due: tombi

fix: bump remaining --extra=docs usages to --group=docs
  .devcontainer/Dockerfile
  docs/CONTRIBUTING.md
Due: rumdl

ci: bump actions/setup-python to v6.2.0 and differentiate uv cache per Python version
  .github/actions/setup_python_env/action.yml
Due: none

ci: bump remaining Node.js 20 actions to Node.js 24 releases
  .github/workflows/ci_pipeline.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/pre_commit_autoupdate.yml
  .github/workflows/release_pipeline.yml
Due: none

docs: align actions/checkout examples with v6 pin used in workflows
  AGENTS.md
  docs/faq.md
  docs/getting_started.md
Due: rumdl

feat: add rust object in path func
  .gitignore
  Cargo.lock
  Cargo.toml
  pyproject.toml
  src/dbt_bouncer/utils.py
  src/lib.rs
  tests/unit/test_utils.py
Due: tombi

build(deps): bump BENCHER_VERSION in devcontainer to 0.6.6
  .devcontainer/Dockerfile
Due: none

docs: note minimum dbt-bouncer 3.x version for dbt-core 1.12
  SECURITY.md
Due: rumdl

chore: tighten dbt-core 1.12 constraint to stable release
  makefile
  pyproject.toml
Due: tombi

docs: list dbt 1.12 in AGENTS.md build-artifacts row
  AGENTS.md
Due: rumdl
