Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

rumdl:
  entry: uv run rumdl check --fix
  language: system
  name: rumdl
  require_serial: true

tombi:
  entry: uv run tombi format
  language: system
  name: tombi
  require_serial: true

fix: resolve pre-commit hook issues (ruff auto-fixes)
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
  src/dbt_bouncer/config_file_validator.py
  src/dbt_bouncer/context.py
Due: none

fix: handle bare DictProxy resources in _inject_context
  src/dbt_bouncer/check_base.py
Due: none

refactor: replace remaining Any types with wrapper Protocols in context and checks
  src/dbt_bouncer/artifact_types.py
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/context.py
Due: none

refactor: replace Any with Protocol types in check_base.py and context.py
  src/dbt_bouncer/artifact_types.py
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/context.py
Due: none

fix: install hyperfine from pre-built deb instead of Rust builder
  .devcontainer/Dockerfile
Due: none

chore: remove dead Rust builder stage and stale ruff exclusion
  .devcontainer/Dockerfile
  pyproject.toml
Due: tombi

fix: use catalog_source attribute for catalog source wrappers
  src/dbt_bouncer/artifact_parsers/fast_parser.py
  src/dbt_bouncer/artifact_types.py
  src/dbt_bouncer/context.py
Due: none

docs: update stale type names in docstrings to match Protocol types
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
  src/dbt_bouncer/runner.py
Due: none

refactor: replace 13-tuple return with ParsedArtifacts NamedTuple
  src/dbt_bouncer/artifact_parsers/fast_parser.py
  src/dbt_bouncer/main.py
Due: none

refactor: rename fast_parser.py to parser.py
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/main.py
  tests/conftest.py
  tests/integration/test_integration_main.py
  tests/unit/checks/catalog/columns/conftest.py
  tests/unit/checks/catalog/test_catalog_seeds.py
  tests/unit/checks/catalog/test_catalog_sources.py
  tests/unit/checks/manifest/models/conftest.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/sources/test_description.py
  tests/unit/checks/manifest/sources/test_directories.py
  tests/unit/checks/manifest/sources/test_freshness.py
  tests/unit/checks/manifest/sources/test_lineage.py
  tests/unit/checks/manifest/sources/test_loader.py
  tests/unit/checks/manifest/sources/test_meta.py
  tests/unit/checks/manifest/sources/test_naming.py
  tests/unit/checks/manifest/sources/test_tags.py
  tests/unit/checks/manifest/test_exposures.py
  tests/unit/checks/manifest/test_lineage.py
  tests/unit/checks/manifest/test_macros.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/checks/manifest/test_semantic_models.py
  tests/unit/checks/manifest/test_snapshots.py
  tests/unit/checks/manifest/test_tests.py
  tests/unit/checks/manifest/test_unit_tests.py
  tests/unit/checks/run_results/test_run_results.py
  tests/unit/test_parsers_manifest.py
  tests/unit/test_runner.py
Due: none

feat: add entry_points-based plugin discovery for third-party check packages
  pyproject.toml
  src/dbt_bouncer/utils.py
  tests/unit/test_utils.py
Due: tombi

refactor: decouple runner into Executor and Reporter classes
  src/dbt_bouncer/executor.py
  src/dbt_bouncer/reporter.py
  src/dbt_bouncer/runner.py
  tests/unit/test_executor.py
  tests/unit/test_reporter.py
Due: none

refactor: replace _inject_context() magic with explicit CheckContext dependency injection
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/check_context.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/runner.py
  tests/conftest.py
  tests/unit/checks/catalog/columns/test_description.py
  tests/unit/checks/catalog/columns/test_naming.py
  tests/unit/checks/catalog/columns/test_tests.py
  tests/unit/checks/catalog/test_catalog_seeds.py
  tests/unit/checks/catalog/test_catalog_sources.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/checks/manifest/models/test_lineage.py
  tests/unit/checks/manifest/models/test_tests.py
  tests/unit/checks/manifest/models/test_versioning.py
  tests/unit/checks/manifest/sources/test_lineage.py
  tests/unit/checks/manifest/test_exposures.py
  tests/unit/checks/manifest/test_lineage.py
  tests/unit/checks/manifest/test_metadata.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/checks/manifest/test_semantic_models.py
  tests/unit/checks/manifest/test_unit_tests.py
  tests/unit/test_check_context.py
Due: none

fix: handle DictProxy resources in set_resource()
  src/dbt_bouncer/check_base.py
Due: none

refactor: add ABC check patterns to eliminate duplicate execute() logic
  src/dbt_bouncer/check_patterns.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
Due: none

Add CheckModelHardCodedReferences check
  src/dbt_bouncer/checks/manifest/models/code.py
  tests/unit/checks/manifest/models/test_code.py
Due: none

Correct doc
  src/dbt_bouncer/checks/manifest/models/code.py
Due: none

fix: update mkdocs nav to reference actual doc files
  mkdocs.yml
Due: none

docs: add AGENTS.md and Claude Code configuration
  .claude/settings.json
  .claude/skills/build-artifacts/SKILL.md
  .claude/skills/new-check/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  cspell.json
  docs/CONTRIBUTING.md
Due: rumdl

fix: correct Claude Code hooks schema in settings.json
  .claude/settings.json
Due: none

refactor: migrate all 82 check classes to @check decorator
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
  tests/unit/checks/catalog/columns/test_naming.py
Due: none

refactor: infer check params from function signatures, make ctx optional
  src/dbt_bouncer/check_decorator.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
  tests/unit/test_check_decorator.py
Due: none

fix: restore missing default values for 3 check params
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
Due: none

fix: restore missing default values for check params
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/tests.py
Due: none

refactor: infer check name and iterate_over from function signature
  src/dbt_bouncer/check_decorator.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
  tests/unit/test_check_decorator.py
Due: none

docs: restore detailed docstrings from original class-based checks
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_lineage.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_metadata.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  src/dbt_bouncer/checks/manifest/check_semantic_models.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/access.py
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/models/naming.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/models/versioning.py
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/checks/manifest/sources/directories.py
  src/dbt_bouncer/checks/manifest/sources/freshness.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/loader.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  src/dbt_bouncer/checks/manifest/sources/naming.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  src/dbt_bouncer/checks/run_results/check_run_results.py
Due: none

docs: update documentation and remove dead code for decorator API
  .claude/skills/new-check/SKILL.md
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/getting_started.md
  src/dbt_bouncer/check_decorator.py
Due: rumdl

fix: harden decorator API — set_context(), explicit plural map, docs
  .claude/skills/new-check/SKILL.md
  AGENTS.md
  src/dbt_bouncer/check_base.py
  src/dbt_bouncer/check_decorator.py
  src/dbt_bouncer/runner.py
  src/dbt_bouncer/testing.py
  tests/unit/test_check_context.py
  tests/unit/test_check_decorator.py
Due: rumdl

feat: add check_snapshot_description_populated check
  dbt-bouncer-example.yml
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  tests/unit/checks/manifest/test_snapshots.py
Due: none

feat: add snapshot descriptions and exclude from legacy fixtures
  dbt_project/snapshots/_snapshots.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_19/target/catalog.json
  tests/fixtures/dbt_19/target/manifest.json
  tests/fixtures/dbt_19/target/run_results.json
  tests/integration/test_integration_main.py
Due: none

feat: add check_test_has_meta_keys check
  dbt-bouncer-example.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  dbt_project/tests/test_assert_something.sql
  src/dbt_bouncer/checks/manifest/check_tests.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_19/target/catalog.json
  tests/fixtures/dbt_19/target/manifest.json
  tests/fixtures/dbt_19/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/test_tests.py
Due: none

Fix Bencher continuous benchmarking
  .github/workflows/ci_pipeline.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/pull_request_benchmarks_track.yml
Due: none

feat: add JSON Schema for dbt-bouncer config files
  .github/workflows/ci_pipeline.yml
  AGENTS.md
  makefile
  schema.json
  scripts/generate_schema.py
Due: rumdl

docs: add JSON Schema documentation for developers and end users
  docs/CONTRIBUTING.md
  docs/config_file.md
Due: rumdl

fix: sort JSON Schema output for cross-platform determinism
  schema.json
  scripts/generate_schema.py
Due: none

fix: use consistent auto-numbering in CONTRIBUTING.md steps
  docs/CONTRIBUTING.md
Due: rumdl

feat: add check_model_columns_have_relationship_tests
  dbt-bouncer-example.yml
  src/dbt_bouncer/checks/manifest/models/columns.py
  tests/unit/checks/manifest/models/test_columns.py
Due: none

fix: regenerate schema.json for new check
  schema.json
Due: none

Path conditions:
  rumdl: any of: \.(md|markdown|mdown)$, but not: ^dist
  tombi: any of: \.toml$, but not: ^dist
