Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

fix: compile column pattern case-insensitively when case_sensitive is false
  src/dbt_bouncer/checks/catalog/columns/tests.py
  tests/unit/checks/catalog/columns/test_tests.py
Due: none

refactor: align case_sensitive param with AGENTS.md docstring + type conventions
  schema.json
  src/dbt_bouncer/checks/catalog/columns/description.py
  src/dbt_bouncer/checks/catalog/columns/tests.py
Due: none

fix: parse test-macro args from signature, not body (#927)
  src/dbt_bouncer/checks/manifest/check_macros.py
  tests/unit/checks/manifest/test_macros.py
Due: none

feat: add check_test_has_where_config
  dbt-bouncer-example.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  dbt_project/tests/test_assert_something.sql
  schema.json
  src/dbt_bouncer/checks/manifest/check_tests.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/test_tests.py
Due: none

refactor: address AI review on check_test_has_where_config
  schema.json
  src/dbt_bouncer/checks/manifest/check_tests.py
  tests/integration/test_integration_main.py
Due: none

docs: add check_test_has_where_config to TOML example config
  docs/dbt-bouncer-example.toml
Due: tombi

refactor: iterate over list copies in integration test check-removal loops
  tests/integration/test_integration_main.py
Due: none

build: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

test: demonstrate check_test_has_where_config via a YML-defined data test
  dbt-bouncer-example.yml
  dbt_project/models/intermediate/test_cases/_int_test_cases__models.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  dbt_project/tests/test_assert_something.sql
  docs/dbt-bouncer-example.toml
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/integration/test_integration_main.py
Due: tombi

docs: sync actions/checkout version comments to v7
  .github/workflows/ci_pipeline.yml
  .github/workflows/dbt_artifact_probes.yml
  .github/workflows/issue_ai_fix.yml
  .github/workflows/labeler.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/post_release_pipeline.yml
  .github/workflows/pre_commit_autoupdate.yml
  .github/workflows/pull_request_ai_review.yml
  .github/workflows/release_pipeline.yml
  AGENTS.md
Due: rumdl

docs: update actions/checkout example snippets to v7
  docs/faq.md
  docs/getting_started.md
Due: rumdl

feat: support dbt-bouncer.yaml as a config filename
  docs/configuration.md
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/enums.py
  tests/unit/test_cli_run_utils.py
  tests/unit/test_config_file_validator.py
Due: rumdl

feat: support dbt-bouncer.yaml as a config filename (#937)
  docs/configuration.md
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/enums.py
  tests/unit/test_cli_run_utils.py
  tests/unit/test_config_file_validator.py
Due: rumdl

docs: add editor icon variants to brand assets
  docs/assets/brand/README.md
  docs/assets/brand/editor-icons/material-icon-theme.svg
  docs/assets/brand/editor-icons/vscode-icons.svg
  docs/brand.md
Due: rumdl

docs: add editor icon variants to brand assets (#939)
  docs/assets/brand/README.md
  docs/assets/brand/editor-icons/material-icon-theme.svg
  docs/assets/brand/editor-icons/vscode-icons.svg
  docs/brand.md
Due: rumdl

feat(checks): add check_model_incremental_has_unique_key and check_model_materialization_by_fanout
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/models/test_lineage.py
Due: none

feat(checks): add check_macro_names, check_model_has_labels_keys, check_source_has_labels_keys
  dbt-bouncer-example.yml
  dbt_project/models/staging/crm/_crm__sources.yml
  dbt_project/models/staging/crm/_stg_crm__models.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  schema.json
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/models/test_meta.py
  tests/unit/checks/manifest/sources/test_meta.py
  tests/unit/checks/manifest/test_macros.py
Due: none

chore: address AI review suggestions (attribute config access, None-default for materializations)
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
Due: none

chore: address AI review suggestions (attribute labels access, nested-key + include tests)
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  tests/unit/checks/manifest/models/test_meta.py
  tests/unit/checks/manifest/sources/test_meta.py
  tests/unit/checks/manifest/test_macros.py
Due: none

fix(ci): skip AI review cleanly when PR head is stale
  .github/workflows/pull_request_ai_review.yml
Due: none

fix(ci): skip AI review cleanly when PR head is stale (#948)
  .github/workflows/pull_request_ai_review.yml
Due: none

fix(ci): skip benchmark tracking cleanly when PR head is stale
  .github/workflows/pull_request_benchmarks_track.yml
Due: none

fix(ci): skip benchmark tracking cleanly when PR head is stale (#949)
  .github/workflows/pull_request_benchmarks_track.yml
Due: none

feat: add model config checks (incremental unique_key, materialization by fanout) (#943)
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/models/test_lineage.py
Due: none

feat: add macro naming and model/source labels-key checks (#946)
  dbt-bouncer-example.yml
  dbt_project/models/staging/crm/_crm__sources.yml
  dbt_project/models/staging/crm/_stg_crm__models.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  schema.json
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/models/meta.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/models/test_meta.py
  tests/unit/checks/manifest/sources/test_meta.py
  tests/unit/checks/manifest/test_macros.py
Due: none

refactor(ci): extract shared PR resolver into a composite action
  .github/actions/resolve-pr-from-workflow-run/action.yml
  .github/workflows/pull_request_ai_review.yml
  .github/workflows/pull_request_benchmarks_track.yml
Due: none

docs(ci): clarify PR_CHANGED_FILES is AI-review-only in shared action
  .github/actions/resolve-pr-from-workflow-run/action.yml
Due: none

refactor(ci): extract shared PR resolver into a composite action (#950)
  .github/actions/resolve-pr-from-workflow-run/action.yml
  .github/workflows/pull_request_ai_review.yml
  .github/workflows/pull_request_benchmarks_track.yml
Due: none

feat(checks): add check_macro_has_meta_keys and check_seed_has_meta_keys
  dbt-bouncer-example.yml
  dbt_project/macros/_macros.yml
  dbt_project/macros/_tests.yml
  dbt_project/macros/system/_system__macros.yml
  dbt_project/seeds/_seeds.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  schema.json
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/test_macros.py
  tests/unit/checks/manifest/test_seeds.py
Due: none

chore: address AI review suggestions (skip-list comment, macro/seed protocol meta field)
  src/dbt_bouncer/artifact_types.py
Due: none

chore: regenerate schema/fixtures after rebase; drop redundant `or {}` guards
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
Due: none

feat: add macro and seed meta-key checks (meta-key parity) (#944)
  dbt-bouncer-example.yml
  dbt_project/macros/_macros.yml
  dbt_project/macros/_tests.yml
  dbt_project/macros/system/_system__macros.yml
  dbt_project/seeds/_seeds.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  schema.json
  src/dbt_bouncer/artifact_types.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_seeds.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/test_macros.py
  tests/unit/checks/manifest/test_seeds.py
Due: none

chore: address AI review suggestions (strip comments before select-star, consistent wrapper access, more tests)
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/models/test_description.py
Due: none

feat: add five source-governance and code-quality checks
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/checks/manifest/sources/test_lineage.py
  tests/unit/checks/manifest/sources/test_meta.py
Due: none

fix: apply AI-review polish to source-governance checks
  src/dbt_bouncer/checks/manifest/models/code.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/sources/test_meta.py
Due: none

chore: address re-review suggestions (dedup _node calls, document pii truthy + select-star jinja limits)
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
Due: none

feat: add source-governance and code-quality checks (duplicates, PII meta, min downstream, description consistency, no SELECT *) (#947)
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/checks/manifest/sources/meta.py
  tests/unit/checks/manifest/models/test_code.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/checks/manifest/sources/test_lineage.py
  tests/unit/checks/manifest/sources/test_meta.py
Due: none

feat: add test-coverage checks (source has tests, model tests by type/name, single primary key)
  dbt-bouncer-example.yml
  dbt_project/models/staging/crm/_crm__sources.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  docs/checks/index.md
  docs/checks/manifest/sources/tests.md
  mkdocs.yml
  schema.json
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/checks/manifest/sources/tests.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/osi_document.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/models/test_columns.py
  tests/unit/checks/manifest/models/test_tests.py
  tests/unit/checks/manifest/sources/test_tests.py
Due: rumdl

chore: regenerate schema/fixtures after rebase; apply AI review validation fixes
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  schema.json
  src/dbt_bouncer/checks/manifest/models/tests.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/unit/checks/manifest/models/test_tests.py
Due: none

chore: address AI review suggestions (guard both-zero test minimums, simplify PK type extraction)
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  tests/unit/checks/manifest/models/test_tests.py
Due: none
