Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

rumdl:
  entry: uv run rumdl check --fix
  language: system
  name: rumdl
  require_serial: true

tombi:
  entry: uv run tombi format
  language: system
  name: tombi
  require_serial: true

fix: pin dbt to the 2.0 series and build the catalog from a populated database
  .github/dbt-bouncer-fusion-probe.yml
  .github/workflows/dbt_artifact_probes.yml
  dbt_project/models/marts/finance/_finance__models.yml
  dbt_project/models/marts/finance/orders.sql
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  mise.toml
  pyproject.toml
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  uv.lock
Due: tombi

ci: probe the newest dbt release and merge the Fusion job into it
  .github/workflows/dbt_artifact_probes.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  docs/getting_started.md
Due: rumdl

fix: resolve dbt build warnings and fail the build on any new one
  dbt_project/dbt_project.yml
  dbt_project/seeds/_seeds.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  mise.toml
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
Due: tombi

docs: state why the 1.x fixture line pins dbt-duckdb 1.10
  mise.toml
Due: tombi

feat: support dbt 2.0 GA (#1113)
  .github/dbt-bouncer-fusion-probe.yml
  .github/workflows/dbt_artifact_probes.yml
  .gitignore
  README.md
  dbt_project/dbt_project.yml
  dbt_project/models/marts/finance/_finance__models.yml
  dbt_project/models/marts/finance/orders.sql
  dbt_project/seeds/_seeds.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  docs/faq.md
  docs/migration/v4.md
  mise.toml
  pyproject.toml
  src/dbt_bouncer/artifact_parsers/parser.py
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  tests/unit/test_parsers_manifest.py
  uv.lock
Due: rumdl, tombi

refactor: restructure integration tests
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/constants.py
  tests/integration/test_baseline_and_state.py
  tests/integration/test_cli_integration.py
  tests/integration/test_config_discovery.py
  tests/integration/test_help_output.py
  tests/integration/test_integration_main.py
  tests/integration/test_public_api.py
  tests/integration/test_run_command.py
  tests/unit/test_parsers_manifest.py
Due: none

fix: gate the DuckDB-only on-run-start hook on the adapter
  dbt_project/dbt_project.yml
Due: none

fix: gate the DuckDB-only on-run-start hook on the adapter (#1114)
  dbt_project/dbt_project.yml
Due: none

fix: declare seed string columns with a portable data type
  dbt_project/seeds/_seeds.yml
Due: none

fix: declare seed string columns with a portable data type (#1115)
  dbt_project/seeds/_seeds.yml
Due: none

fix: build the time spine with a portable date_spine macro
  dbt_project/models/utilities/time_spines/metricflow_time_spine.sql
  dbt_project/packages.yml
Due: none

fix: build the time spine with a portable date_spine macro (#1116)
  dbt_project/models/utilities/time_spines/metricflow_time_spine.sql
  dbt_project/packages.yml
Due: none

refactor: restructure integration tests (#1112)
  tests/integration/__init__.py
  tests/integration/conftest.py
  tests/integration/constants.py
  tests/integration/test_baseline_and_state.py
  tests/integration/test_cli_integration.py
  tests/integration/test_config_discovery.py
  tests/integration/test_help_output.py
  tests/integration/test_integration_main.py
  tests/integration/test_public_api.py
  tests/integration/test_run_command.py
  tests/unit/test_parsers_manifest.py
Due: none

tests: add integration test for cli exit codes
  tests/integration/constants.py
  tests/integration/test_exit_codes.py
  tests/integration/test_help_output.py
Due: none

tests: add integration test for cli exit codes (#1117)
  tests/integration/constants.py
  tests/integration/test_exit_codes.py
  tests/integration/test_help_output.py
Due: none

test: integration test for custom check directory
  tests/integration/test_custom_checks_dir.py
Due: none

test: integration test for custom check directory (#1118)
  tests/integration/test_custom_checks_dir.py
Due: none

test: integration coverage for rule code routing
  tests/integration/conftest.py
  tests/integration/test_custom_checks_dir.py
  tests/integration/test_rule_codes.py
Due: none

test: annotate the artifacts_dir factory parameter
  tests/integration/test_custom_checks_dir.py
Due: none

test: integration coverage for rule code routing (#1120)
  tests/integration/conftest.py
  tests/integration/test_custom_checks_dir.py
  tests/integration/test_rule_codes.py
Due: none

feat: add baseline, dry-run, preset and state inputs to the action
  .github/workflows/ci_pipeline.yml
  action.yml
  docs/getting_started.md
Due: rumdl

fix: run the action's container with /app as the working directory
  .github/workflows/ci_pipeline.yml
  action.yml
  docs/getting_started.md
Due: rumdl

fix: enable pipefail in the action-tests Dockerfile step
  .github/workflows/ci_pipeline.yml
  action.yml
Due: none

feat: add baseline, dry-run, preset and state inputs to the action (#1122)
  .github/workflows/ci_pipeline.yml
  action.yml
  docs/getting_started.md
Due: rumdl

refactor: pass action inputs as env vars and build argv as an array
  action.yml
Due: none

docs: close the v4 release readiness gaps
  .gitignore
  AGENTS.md
  README.md
  docs/cli.md
  docs/migration/v4.md
Due: rumdl

fix: replace `set -eou` with a working option list in CI workflows
  .github/workflows/ci_pipeline.yml
  .github/workflows/merge_pipeline.yml
Due: none

refactor: pass action inputs as env vars and build argv as an array (#1123)
  action.yml
Due: none

fix: replace `set -eou` with a working option list in CI workflows (#1124)
  .github/workflows/ci_pipeline.yml
  .github/workflows/merge_pipeline.yml
Due: none

docs: close the v4 release readiness gaps (#1121)
  .gitignore
  AGENTS.md
  README.md
  docs/cli.md
  docs/migration/v4.md
Due: rumdl

tests: integration test for catalog and run result
  tests/integration/test_catalog_and_run_results.py
Due: none

tests: integration test for catalog and run result (#1125)
  tests/integration/test_catalog_and_run_results.py
Due: none

refactor: use pathlib instead of strip str
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/selectors.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/checks/manifest/models/test_directories.py
  tests/unit/checks/manifest/sources/test_lineage.py
  tests/unit/test_selectors.py
Due: none

refactor: use pathlib instead of strip str (#1126)
  src/dbt_bouncer/checks/manifest/models/description.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/sources/lineage.py
  src/dbt_bouncer/selectors.py
  tests/unit/checks/manifest/models/test_description.py
  tests/unit/checks/manifest/models/test_directories.py
  tests/unit/checks/manifest/sources/test_lineage.py
  tests/unit/test_selectors.py
Due: none

tests: add more integration tests
  tests/integration/test_check_selection.py
  tests/integration/test_failure_reporting.py
  tests/integration/test_output_file.py
  tests/integration/test_presets.py
Due: none

tests: add more integration tests (#1127)
  tests/integration/test_check_selection.py
  tests/integration/test_failure_reporting.py
  tests/integration/test_output_file.py
  tests/integration/test_presets.py
Due: none

tests: add integration tests target
  tests/unit/test_check_targeting.py
Due: none

test: move CliRunner import to module level
  tests/unit/test_check_targeting.py
Due: none

tests: add integration tests target (#1128)
  tests/unit/test_check_targeting.py
Due: none

Path conditions:
  rumdl: any of: \.(md|markdown|mdown)$, but not: ^dist
  tombi: any of: \.toml$, but not: ^dist
