Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

perf: restore report-phase speed after INTERNAL_ERROR counting
  src/dbt_bouncer/reporting/reporter.py
Due: none

fix: count unknown check outcomes as internal errors in the reporter
  src/dbt_bouncer/reporting/reporter.py
  tests/unit/reporting/test_reporter.py
Due: none

build: pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

build: pre-commit autoupdate (#1130)
  .pre-commit-config.yaml
Due: none

tests: hypothesis testing in regressions and selectors
  pyproject.toml
  tests/unit/test_regression.py
  tests/unit/test_selectors.py
  uv.lock
Due: tombi

ci: use median for pytest benchmarks in Bencher and add rounds to check discovery
  .github/workflows/merge_pipeline.yml
  .github/workflows/pull_request_benchmarks_track.yml
  tests/benchmark/test_benchmarks.py
Due: none

tests: hypothesis testing in regressions and selectors (#1131)
  pyproject.toml
  tests/unit/test_regression.py
  tests/unit/test_selectors.py
  uv.lock
Due: tombi

ci: use median for pytest benchmarks in Bencher and add rounds to check discovery (#1132)
  .github/workflows/merge_pipeline.yml
  .github/workflows/pull_request_benchmarks_track.yml
  tests/benchmark/test_benchmarks.py
Due: none

tests: extend property based testing
  tests/unit/reporting/test_formatters.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_regression.py
  tests/unit/test_selectors.py
  tests/unit/test_sql_utils.py
Due: none

tests: implement ai feedback
  src/dbt_bouncer/selectors.py
  tests/unit/test_regression.py
  tests/unit/test_selectors.py
Due: none

tests: extend property based testing (#1134)
  src/dbt_bouncer/selectors.py
  tests/unit/reporting/test_formatters.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_regression.py
  tests/unit/test_selectors.py
  tests/unit/test_sql_utils.py
Due: none

feat: add total checks
  README.md
  docs/cli.md
  docs/getting_started.md
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/reporting/reporter.py
  src/dbt_bouncer/runner.py
  tests/unit/reporting/test_reporter.py
  tests/unit/test_parsers_manifest.py
  tests/unit/test_runner.py
Due: rumdl

Adding Datashift logo
  cspell.json
  docs/assets/datashift_logo.webp
  docs/users.md
Due: rumdl

Adding latest dbt-bouncer blog
  docs/users.md
Due: rumdl

Typo
  docs/users.md
Due: rumdl

Adding latest dbt-bouncer blog (#1138)
  docs/users.md
Due: rumdl

Adding Datashift logo (#1137)
  cspell.json
  docs/assets/datashift_logo.webp
  docs/users.md
Due: rumdl

refactor: use deque for lineage walk and clarify type check skip
  src/dbt_bouncer/checks/info_schema/columns.py
Due: none

refactor: share the info schema table file list and document the query trust boundary
  src/dbt_bouncer/artifact_parsers/info_schema.py
  src/dbt_bouncer/artifact_parsers/parser.py
  tests/unit/checks/info_schema/test_info_schema_reader.py
Due: none

refactor: validate SQL inside InfoSchema.query as well as at config load
  src/dbt_bouncer/artifact_parsers/info_schema.py
  src/dbt_bouncer/checks/info_schema/query.py
  tests/unit/checks/info_schema/test_info_schema_reader.py
Due: none

fix: report a check configured under the wrong category as a config error
  src/dbt_bouncer/configuration_file/validator.py
  tests/integration/test_custom_checks_dir.py
  tests/unit/test_config_file_validator.py
Due: none

fix: report a check configured under the wrong category as a config error (#1141)
  src/dbt_bouncer/configuration_file/validator.py
  tests/integration/test_custom_checks_dir.py
  tests/unit/test_config_file_validator.py
Due: none

ci: skip info_schema_checks in the dbt-core 1.x artifacts probe
  mise.toml
Due: tombi

fix: skip Python models in check_model_columns_have_lineage
  schema.json
  src/dbt_bouncer/checks/info_schema/columns.py
  tests/unit/checks/info_schema/test_columns.py
Due: none

ci: skip info_schema_checks in the dbt-core 1.x artifacts probe (#1142)
  mise.toml
Due: tombi

fix: skip Python models in check_model_columns_have_lineage (#1143)
  schema.json
  src/dbt_bouncer/checks/info_schema/columns.py
  tests/unit/checks/info_schema/test_columns.py
Due: none

docs: dbt-bouncer run refs
  .agents/skills/new-check/SKILL.md
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/configuration.md
  docs/faq.md
  docs/getting_started.md
Due: rumdl

ci: use dbt-bouncer run in CI workflows and mise tasks, bump plugin version
  .claude-plugin/plugin.json
  .github/workflows/ci_pipeline.yml
  .github/workflows/dbt_artifact_probes.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/post_release_pipeline.yml
  mise.toml
Due: tombi

docs: dbt-bouncer run refs (#1144)
  .agents/skills/new-check/SKILL.md
  .claude-plugin/plugin.json
  .github/workflows/ci_pipeline.yml
  .github/workflows/dbt_artifact_probes.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/post_release_pipeline.yml
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/configuration.md
  docs/faq.md
  docs/getting_started.md
  mise.toml
Due: rumdl, tombi
