Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

feat: add check_model_does_not_rejoin_upstream_concepts (#992)
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_lineage.py
Due: rumdl

tests: cover mixed model and snapshot downstream consumers
  tests/unit/checks/manifest/models/test_lineage.py
Due: none

feat: add check_model_min_downstream_models
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/models/lineage.py
  tests/unit/checks/manifest/models/test_lineage.py
Due: none

feat: assign rule code MO050
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/enums.py
Due: rumdl

feat: add check_model_min_downstream_models (#993)
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_lineage.py
Due: rumdl

feat: add check_model_has_properties_file
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_directories.py
Due: none

feat: assign rule code MO051
  docs/checks/rule_codes.md
  schema.json
Due: rumdl

feat: add check_model_has_properties_file (#995)
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_directories.py
Due: rumdl

feat: add check to prevent cartesian joins
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_code.py
Due: rumdl

test: cover regex fallback path and constant-ON under allow_explicit_cross_join
  tests/unit/checks/manifest/models/test_code.py
Due: none

docs: clarify allow_explicit_cross_join scope in check docstring
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
Due: none

test: assert bare JOIN still fails under allow_explicit_cross_join
  src/dbt_bouncer/checks/manifest/models/code.py
  tests/unit/checks/manifest/models/test_code.py
Due: none

feat: add check to prevent cartesian joins (#999)
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/code.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_code.py
Due: rumdl

Upgrading package versions so Black alert is resolved
  uv.lock
Due: none

docs: add dbt bouncer aims in main readme
  README.md
  docs/index.md
Due: rumdl

fix: update docstring templates for mkdocstrings-python 2.0
  cspell.json
  docs/templates/python/material/docstring.html.jinja
  docs/templates/python/material/docstring/other_parameters.html.jinja
  docs/templates/python/material/docstring/receives.html.jinja
Due: none

Upgrading package versions so Black alert is resolved (#1000)
  cspell.json
  docs/templates/python/material/docstring.html.jinja
  docs/templates/python/material/docstring/other_parameters.html.jinja
  docs/templates/python/material/docstring/receives.html.jinja
  uv.lock
Due: none

docs: add dbt bouncer aims in main readme (#1001)
  README.md
  docs/index.md
Due: rumdl

feat: add probability density distribution chart for performance tuning
  AGENTS.md
  benchmark_chart.html
  docs/CONTRIBUTING.md
  docs/faq.md
  mise.toml
  pyproject.toml
  scripts/assert_alphabetical_checks.py
  scripts/generate_rule_codes_doc.py
  scripts/generate_schema.py
  src/dbt_bouncer/main.py
  tests/benchmark/chart_benchmarks.py
  tests/integration/test_integration_main.py
  tests/unit/test_chart_benchmarks.py
  tests/unit/test_main.py
  tests/unit/test_parsers_manifest.py
  tests/unit/test_rule_codes.py
  tests/unit/test_utils.py
  uv.lock
Due: rumdl, tombi

docs: update faq section and comparison with other tools
  docs/faq.md
Due: rumdl

Adding catalog for dbt-checkpoint
  docs/faq.md
Due: rumdl

docs: update faq section and comparison with other tools (#1004)
  docs/faq.md
Due: rumdl

refactor: clenaup
  .gitignore
  benchmark_chart.html
  tests/benchmark/chart_benchmarks.py
  tests/unit/test_chart_benchmarks.py
Due: none

docs: mise docs usage for test benchmark chart
  mise.toml
Due: tombi

fix: apply tombi formatting to uv.lock; show prek diff on CI failure
  .github/workflows/ci_pipeline.yml
  uv.lock
Due: none

build: exclude uv.lock from tombi hook
  .pre-commit-config.yaml
Due: none

fix: ai comments and deps
  pyproject.toml
  uv.lock
Due: tombi

fix: correct check_model_version_pinned_in_ref and expand versioning tests
  schema.json
  src/dbt_bouncer/checks/manifest/models/versioning.py
  tests/unit/checks/manifest/models/test_versioning.py
Due: none

chore: repair the lint and type baseline after the ty and ruff bump
  docs/assets/brand/scripts/render_pngs.py
  pyproject.toml
  schema.json
  scripts/generate_rule_codes_doc.py
  scripts/generate_schema.py
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/check_framework/base.py
  src/dbt_bouncer/check_framework/decorator.py
  src/dbt_bouncer/check_framework/patterns.py
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/columns/naming.py
  src/dbt_bouncer/checks/manifest/check_exposures.py
  src/dbt_bouncer/checks/manifest/check_macros.py
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/tests.py
  src/dbt_bouncer/cli/__init__.py
  src/dbt_bouncer/cli/list/utils.py
  src/dbt_bouncer/configuration_file/parser.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/context.py
  src/dbt_bouncer/enums.py
  src/dbt_bouncer/main.py
  src/dbt_bouncer/utils.py
  tests/benchmark/aggregate_benchmarks.py
  tests/benchmark/synthetic_manifest.py
  tests/unit/checks/manifest/models/test_lineage.py
  tests/unit/test_aggregate_benchmarks.py
  tests/unit/test_cli_list_utils.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_runner.py
Due: tombi

chore: address review feedback on the lint and type baseline
  src/dbt_bouncer/artifact_parsers/parser.py
  src/dbt_bouncer/configuration_file/validator.py
Due: none

chore: declare iterate_over as a ClassVar on BaseCheck
  src/dbt_bouncer/check_framework/base.py
  src/dbt_bouncer/check_framework/decorator.py
Due: none

chore: address review feedback on the lint and type baseline (round 2)
  src/dbt_bouncer/configuration_file/parser.py
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/test_config_file_validator.py
Due: none

perf: guard the unexpected-error debug log too
  src/dbt_bouncer/executor.py
Due: none

perf: set the log level on the logger, not only on the handler
  src/dbt_bouncer/executor.py
  src/dbt_bouncer/reporting/logger.py
  tests/integration/test_integration_main.py
  tests/unit/test_main.py
Due: none

perf: tune GC after the early-exit paths
  src/dbt_bouncer/main.py
Due: none

perf: raise the cyclic GC thresholds for CLI runs
  src/dbt_bouncer/main.py
Due: none

docs: note the empty-filter short-circuit is an allocation optimisation
  src/dbt_bouncer/runner.py
Due: none

perf: compute per-resource match facts once per resource
  src/dbt_bouncer/runner.py
Due: none

perf: extract the non-path match predicate into a tested helper
  src/dbt_bouncer/runner.py
  tests/unit/test_rule_codes.py
  tests/unit/test_runner.py
Due: none

perf: scan check entry points once per process
  src/dbt_bouncer/utils.py
  tests/conftest.py
Due: none
