Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

feat: add dbt-fusion CI probe, probe config, and FAQ entry
  .github/workflows/dbt_artifact_probes.yml
  dbt-bouncer-fusion-probe.yml
  docs/faq.md
  makefile
Due: rumdl

refactor: convert snapshots from SQL to YAML format (dbt v1.9+)
  dbt_project/snapshots/_snapshots.yml
  dbt_project/snapshots/snapshot_orders.sql
  dbt_project/snapshots/snapshot_orders_multiple_unique_keys.sql
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
Due: none

fix: allow dependabot to trigger AI PR review
  .github/workflows/pull_request_ai_review.yml
Due: none

docs: revisit dbt-bouncer aims per issue #784
  docs/index.md
Due: rumdl

docs: restructure CLI page with per-command ToC headings
  docs/cli.md
Due: rumdl

docs: add init and list command documentation to CLI reference
  docs/cli.md
Due: rumdl

chore: remove unused mkdocs-click markdown extension
  mkdocs.yml
Due: none

docs: add migration/v3.md to mkdocs nav to fix build warning
  mkdocs.yml
Due: none

docs: rename Getting Started to Running dbt-bouncer, add pre-commit section and trade-offs
  docs/index.md
  docs/running_dbt_bouncer.md
  uv.lock
Due: rumdl

docs: move custom checks how-to from getting_started into FAQ
  docs/faq.md
Due: rumdl

docs: update mkdocs nav to reference running_dbt_bouncer.md
  mkdocs.yml
Due: none

Manual fixups
  docs/running_dbt_bouncer.md
Due: rumdl

docs: fix typo in pre-commit trade-offs callout
  docs/running_dbt_bouncer.md
Due: rumdl

feat: add end-of-file-fixer pre-commit check built in prek
  .pre-commit-config.yaml
  uv.lock
Due: none

build: rich dependency comment
  pyproject.toml
Due: tombi

refactor: use auto for more enums
  src/dbt_bouncer/enums.py
Due: none

fix: separate bencher download from execution in Dockerfile
  .devcontainer/Dockerfile
Due: none

fix: correct warn severity description and clarify precedence
  docs/config_file.md
Due: rumdl

fix: correct YAML category in check_column_description_populated docstring
  src/dbt_bouncer/checks/catalog/columns/description.py
Due: none

fix: replace Click with Typer in CONTRIBUTING.md tools list
  docs/CONTRIBUTING.md
Due: rumdl

docs: add missing catalog seeds documentation page
  docs/checks/catalog/check_catalog_seeds.md
  docs/checks/index.md
  mkdocs.yml
Due: rumdl

fix: correct default value in check_test_has_tags docstring
  src/dbt_bouncer/checks/manifest/check_tests.py
Due: none

fix: move privilege to Parameters in check_model_grant_privilege_required docstring
  src/dbt_bouncer/checks/manifest/models/access.py
Due: none

fix: correct check_model_description_contains_regex_pattern docstring
  src/dbt_bouncer/checks/manifest/models/description.py
Due: none

fix: add missing docstring sections to check_exposure_based_on_non_public_models
  src/dbt_bouncer/checks/manifest/check_exposures.py
Due: none

fix: expand run_bouncer() programmatic API documentation
  docs/running_dbt_bouncer.md
Due: rumdl

fix: remove stale dbt 1.9 references from AGENTS.md and build-artifacts skill
  .claude/skills/build-artifacts/SKILL.md
  AGENTS.md
Due: rumdl

fix: clarify --dry-run only available on run subcommand
  docs/cli.md
Due: rumdl

perf: defer Pydantic schema generation in BaseCheck
  src/dbt_bouncer/check_base.py
Due: none

perf: lazy imports in __init__.py via PEP 562 __getattr__
  src/dbt_bouncer/__init__.py
Due: none

fix: add make generate-schema to /new-check skill verify step
  .claude/skills/new-check/SKILL.md
Due: rumdl

chore: regenerate schema.json
  schema.json
Due: none

feat: initial cli rework
  src/dbt_bouncer/__init__.py
  src/dbt_bouncer/cli/init/__init__.py
  src/dbt_bouncer/cli/init/utils.py
  src/dbt_bouncer/cli/list/__init__.py
  src/dbt_bouncer/cli/list/utils.py
  src/dbt_bouncer/cli/run/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/cli/validate/__init__.py
  src/dbt_bouncer/main.py
  tests/integration/test_programmatic_invocation.py
Due: none

fix: remove duplicated end-of-file-fixer and also add spaces between hooks
  .pre-commit-config.yaml
Due: none

docs: use uv command references in README
  README.md
Due: rumdl

refactor: make seed description lenght more explicit
  src/dbt_bouncer/checks/manifest/check_seeds.py
Due: none
