Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

ci: extend Dependabot to scan composite actions
  .github/dependabot.yml
Due: none

ci: bump jdx/mise-action to v4.2.4 and let Dependabot scan composite actions (#1056)
  .github/actions/setup_python_env/action.yml
  .github/dependabot.yml
Due: none

build(deps): bump bencher to 0.6.11 in mise.toml
  mise.toml
Due: tombi

build(deps): bump bencher to 0.6.11 in devcontainer
  .devcontainer/Dockerfile
Due: none

fix: inconsistency in data type for unit test percentage and min model doc coverage
  schema.json
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/description.py
Due: none

fix: early return to prevent a zero division error in check unit tests
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  tests/unit/checks/manifest/test_unit_tests.py
Due: none

perf: cache compiled regex in check_model_column_names
  src/dbt_bouncer/checks/manifest/models/columns.py
Due: none

feat: enable column-level checks via manifest.json (#1055)
  .gitignore
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_columns.py
Due: rumdl

fix: early return to prevent a zero division error in check unit tests (#1063)
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  tests/unit/checks/manifest/test_unit_tests.py
Due: none

fix: inconsistency in data type for unit test percentage and min model doc coverage (#1062)
  schema.json
  src/dbt_bouncer/checks/manifest/check_unit_tests.py
  src/dbt_bouncer/checks/manifest/models/description.py
Due: none

fix(catalog): handle wrapped Snowflake source columns
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  tests/unit/checks/catalog/test_catalog_sources.py
Due: none

fix(catalog): case-insensitive source column matching for Snowflake
  schema.json
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  tests/unit/checks/catalog/test_catalog_sources.py
Due: none

test: cover explicit case_sensitive=False opt-in on non-Snowflake adapter
  tests/unit/checks/catalog/test_catalog_sources.py
Due: none

test: verify genuinely undocumented column still fails on Snowflake
  tests/unit/checks/catalog/test_catalog_sources.py
Due: none

fix(catalog): case-insensitive column matching for seeds and public models
  schema.json
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  tests/unit/checks/catalog/columns/test_description.py
  tests/unit/checks/catalog/test_catalog_seeds.py
Due: none

fix(catalog): case-insensitive column matching for Snowflake (#1066)
  schema.json
  src/dbt_bouncer/checks/catalog/check_catalog_seeds.py
  src/dbt_bouncer/checks/catalog/check_catalog_sources.py
  src/dbt_bouncer/checks/catalog/columns/description.py
  tests/unit/checks/catalog/columns/test_description.py
  tests/unit/checks/catalog/test_catalog_seeds.py
  tests/unit/checks/catalog/test_catalog_sources.py
Due: none

feat: add suggesting dbt bouncer checks skill
  .gitignore
  skills/suggesting-dbt-bouncer-checks/SKILL.md
  skills/suggesting-dbt-bouncer-checks/references/check-catalog.md
  skills/suggesting-dbt-bouncer-checks/references/config-reference.md
Due: rumdl

docs: skills usage
  docs/getting_started.md
Due: rumdl

feat: add Claude Code plugin marketplace metadata
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  docs/getting_started.md
Due: rumdl

docs: require plugin version bump when skills change
  .github/workflows/pull_request_ai_review.yml
  AGENTS.md
Due: rumdl

chore: simplify .gitignore to ignore all .DS_Store files
  .gitignore
Due: none

feat: make suggesting-dbt-bouncer-checks skill user-invocable
  skills/suggesting-dbt-bouncer-checks/SKILL.md
Due: rumdl

feat: add suggesting dbt bouncer checks skill (#1067)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .github/workflows/pull_request_ai_review.yml
  .gitignore
  AGENTS.md
  docs/getting_started.md
  skills/suggesting-dbt-bouncer-checks/SKILL.md
  skills/suggesting-dbt-bouncer-checks/references/check-catalog.md
  skills/suggesting-dbt-bouncer-checks/references/config-reference.md
Due: rumdl

ci: post AI review comment as github-actions[bot]
  .github/workflows/pull_request_ai_review.yml
Due: none

feat: validate subcommand runs full config validation with did-you-mean suggestions
  cspell.json
  docs/cli.md
  src/dbt_bouncer/cli/validate/__init__.py
  src/dbt_bouncer/configuration_file/validator.py
  src/dbt_bouncer/exceptions.py
  tests/unit/test_cli_validate.py
  tests/unit/test_config_file_validator.py
Due: rumdl

feat: add explain subcommand for offline check documentation
  docs/cli.md
  src/dbt_bouncer/cli/explain/__init__.py
  src/dbt_bouncer/cli/explain/utils.py
  src/dbt_bouncer/main.py
  tests/unit/test_cli_explain.py
Due: rumdl

feat: dbt-style node selectors for check targeting
  docs/configuration.md
  schema.json
  src/dbt_bouncer/check_framework/base.py
  src/dbt_bouncer/cli/list/utils.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/configuration_file/parser.py
  src/dbt_bouncer/runner.py
  src/dbt_bouncer/selectors.py
  tests/unit/test_selectors.py
Due: rumdl

feat: add experimental fix subcommand for mechanically fixable checks
  docs/cli.md
  pyproject.toml
  src/dbt_bouncer/autofix.py
  src/dbt_bouncer/cli/fix/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/main.py
  tests/unit/test_autofix.py
  tests/unit/test_cli_fix.py
  uv.lock
Due: rumdl, tombi

refactor: consolidate did-you-mean formatting per AI review
  src/dbt_bouncer/configuration_file/validator.py
Due: none

fix: cap explain did-you-mean suggestions at Levenshtein distance 3
  src/dbt_bouncer/cli/explain/__init__.py
  tests/unit/test_cli_explain.py
Due: none

refactor: direct selector attribute access and precise Iterator annotation per AI review
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/selectors.py
Due: none

refactor: AutofixMutateResult StrEnum and review follow-ups
  src/dbt_bouncer/autofix.py
  src/dbt_bouncer/cli/fix/__init__.py
  src/dbt_bouncer/cli/run/utils.py
  src/dbt_bouncer/enums.py
  tests/unit/test_autofix.py
Due: none

docs: align explain help example rule code with docs and tests
  src/dbt_bouncer/cli/explain/__init__.py
Due: none

fix: validate global selector at config time; comment name fallback
  src/dbt_bouncer/configuration_file/parser.py
  src/dbt_bouncer/selectors.py
  tests/unit/test_selectors.py
Due: none

docs: tidy run_bouncer docstring and explain from None per AI review
  src/dbt_bouncer/cli/fix/__init__.py
  src/dbt_bouncer/cli/run/utils.py
Due: none

docs: list explain/ subcommand in AGENTS.md directory layout
  AGENTS.md
Due: rumdl

refactor: direct selector access in runner filter
  src/dbt_bouncer/runner.py
Due: none

ci: post AI review comment as github-actions[bot] (#1068)
  .github/workflows/pull_request_ai_review.yml
Due: none

feat: add `explain` subcommand for offline check documentation (#1070)
  AGENTS.md
  docs/cli.md
  src/dbt_bouncer/cli/explain/__init__.py
  src/dbt_bouncer/cli/explain/utils.py
  src/dbt_bouncer/main.py
  tests/unit/test_cli_explain.py
Due: rumdl

refactor: cache suggestion distance; scope patern cspell entry to docs/cli.md
  cspell.json
  src/dbt_bouncer/configuration_file/validator.py
Due: none
