Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

rumdl:
  entry: uv run rumdl check --fix
  language: system
  name: rumdl
  require_serial: true

tombi:
  entry: uv run tombi format
  language: system
  name: tombi
  require_serial: true

perf: bind resource in executor instead of per-resource model_copy
  src/dbt_bouncer/executor.py
  src/dbt_bouncer/runner.py
Due: none

docs: update _assemble_checks_to_run docstring for no-copy behaviour
  src/dbt_bouncer/runner.py
Due: none

perf: bind resource in executor instead of per-resource model_copy (#985)
  src/dbt_bouncer/executor.py
  src/dbt_bouncer/runner.py
Due: none

build: utilize mise to replace make
  .agents/skills/build-artifacts/SKILL.md
  .agents/skills/new-check/SKILL.md
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/actions/setup_python_env/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/dbt_artifact_probes.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/post_release_pipeline.yml
  .github/workflows/release_pipeline.yml
  .pre-commit-config.yaml
  AGENTS.md
  docs/CONTRIBUTING.md
  makefile
  mise.toml
Due: rumdl, tombi

fix: pin jdx/mise-action to valid v2.4.4 SHA
  .github/actions/setup_python_env/action.yml
Due: none

fix: trust mise config in dev container
  .devcontainer/Dockerfile
Due: none

docs: replace remaining make references with mise in CONTRIBUTING
  docs/CONTRIBUTING.md
Due: rumdl

docs: replace remaining Makefile references with mise in benchmark docstrings
  tests/benchmark/aggregate_benchmarks.py
  tests/benchmark/test_benchmarks.py
Due: none

build: utilize mise to replace make (#987)
  .agents/skills/build-artifacts/SKILL.md
  .agents/skills/new-check/SKILL.md
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/actions/setup_python_env/action.yml
  .github/workflows/ci_pipeline.yml
  .github/workflows/dbt_artifact_probes.yml
  .github/workflows/merge_pipeline.yml
  .github/workflows/post_release_pipeline.yml
  .github/workflows/release_pipeline.yml
  .pre-commit-config.yaml
  AGENTS.md
  docs/CONTRIBUTING.md
  makefile
  mise.toml
  tests/benchmark/aggregate_benchmarks.py
  tests/benchmark/test_benchmarks.py
Due: rumdl, tombi

fix: stop mise managing python so pip-tests resolve the CI interpreter
  mise.toml
Due: tombi

fix: stop mise managing python so pip-tests resolve the CI interpreter (#988)
  mise.toml
Due: tombi

feat: improve dbt bouncer list
  src/dbt_bouncer/cli/list/__init__.py
  src/dbt_bouncer/cli/list/utils.py
  tests/unit/test_cli_list_utils.py
  tests/unit/test_main.py
Due: none

chore: drop env.example now that mise sets DBT env vars
  .env.example
  docs/CONTRIBUTING.md
Due: rumdl

chore: drop env.example now that mise sets DBT env vars (#990)
  .env.example
  docs/CONTRIBUTING.md
Due: rumdl

fix: pin console width in list CLI tests so Windows CI passes
  tests/unit/test_main.py
Due: none

fix: address AI review findings on rule codes
  schema.json
  src/dbt_bouncer/check_framework/decorator.py
  src/dbt_bouncer/configuration_file/validator.py
  tests/unit/test_config_file_validator.py
  tests/unit/test_rule_codes.py
Due: none

docs: add generated rule codes reference page
  .pre-commit-config.yaml
  AGENTS.md
  docs/checks/index.md
  docs/checks/rule_codes.md
  docs/configuration.md
  mise.toml
  mkdocs.yml
  scripts/generate_rule_codes_doc.py
Due: rumdl, tombi

perf: only build the check registry when a rule code needs resolving
  src/dbt_bouncer/check_framework/decorator.py
  src/dbt_bouncer/configuration_file/validator.py
Due: none

fix: derive the rule code example instead of hardcoding it
  docs/checks/index.md
  docs/checks/rule_codes.md
  docs/configuration.md
  scripts/generate_rule_codes_doc.py
  src/dbt_bouncer/check_framework/base.py
  tests/unit/test_rule_codes.py
Due: rumdl

feat: add check_model_does_not_directly_join_to_source
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_lineage.py
Due: rumdl

tests: cover min_description_length failure for top-level source description
  tests/unit/checks/manifest/sources/test_description.py
Due: none

feat: add check_source_top_level_description_populated
  dbt-bouncer-example.yml
  schema.json
  src/dbt_bouncer/checks/manifest/sources/description.py
  tests/unit/checks/manifest/sources/test_description.py
Due: none

feat: assign rule code SO017
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/enums.py
Due: rumdl

feat: add layout parameter to check_model_property_file_location
  schema.json
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_directories.py
Due: none

docs: regenerate rule codes page for layout parameter
  docs/checks/rule_codes.md
Due: rumdl

tests: cover undocumented models under both properties layouts
  src/dbt_bouncer/checks/manifest/models/directories.py
  tests/unit/checks/manifest/models/test_directories.py
Due: none

docs: use an abstract placeholder for the rule code example
  AGENTS.md
Due: rumdl

docs: update new-check skill for the rule code requirement
  .agents/skills/new-check/SKILL.md
Due: rumdl

feat: add check_model_does_not_directly_join_to_source (#991)
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_lineage.py
Due: rumdl

feat: add check_source_top_level_description_populated (#994)
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/sources/description.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/sources/test_description.py
Due: rumdl

feat: add layout parameter to check_model_property_file_location (#996)
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_directories.py
Due: rumdl

docs: use an abstract placeholder for the rule code example (#997)
  .agents/skills/new-check/SKILL.md
  AGENTS.md
Due: rumdl

fix: disable rich emoji substitution in the console report
  src/dbt_bouncer/reporting/reporter.py
  tests/unit/reporting/test_reporter.py
Due: none

fix: disable rich emoji substitution in the console report (#998)
  src/dbt_bouncer/reporting/reporter.py
  tests/unit/reporting/test_reporter.py
Due: none

feat: add check_model_does_not_rejoin_upstream_concepts
  dbt-bouncer-example.yml
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_lineage.py
Due: none

chore: regenerate schema and rule codes after rebase
  docs/checks/rule_codes.md
  schema.json
Due: rumdl

style: use get_clean_model_name for shared ancestors in failure message
  src/dbt_bouncer/checks/manifest/models/lineage.py
Due: none

Path conditions:
  rumdl: any of: \.(md|markdown|mdown)$, but not: ^dist
  tombi: any of: \.toml$, but not: ^dist
