Repository godatadriven/dbt-bouncer: changes, and which pre-commit hooks are due for each by the changed paths.
All: rumdl, tombi

.pre-commit-config.yaml:

---
exclude: '^dist'
repos:
    - repo: builtin
      hooks:
        - id: trailing-whitespace
        - id: check-json
        - id: check-merge-conflict
        - id: check-toml
        - id: check-added-large-files
        - id: detect-private-key

    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-ast
          - id: check-yaml
            args: [--unsafe]
          - id: debug-statements
          - id: end-of-file-fixer
            exclude: dbt_project/target/manifest.json,tests/fixtures/dbt_16/target/manifest.json,tests/fixtures/dbt_17/target/manifest.json,tests/fixtures/dbt_18/target/manifest.json
    - repo: local
      hooks:
        - id: ruff
          name: ruff
          entry: uv run ruff check --force-exclude --config pyproject.toml --fix
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
        - id: ruff-format
          name: ruff-format
          entry: uv run ruff format --force-exclude --config pyproject.toml
          language: system
          types_or: [python, pyi, jupyter]
          require_serial: true
    - repo: local
      hooks:
          - id: ty
            args: ["check", "./src"]
            entry: uv run ty
            language: system
            name: ty
            pass_filenames: false
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
          - id: alphabetical-checks
            args: []
            entry: uv run python ./scripts/assert_alphabetical_checks.py
            language: system
            name: alphabetical-checks
            require_serial: true
            types_or: [python, pyi]
    - repo: local
      hooks:
        - id: rumdl
          entry: uv run rumdl check --fix
          language: system
          name: rumdl
          require_serial: true
          types_or: [markdown]
    - repo: local
      hooks:
        - id: sqlfmt
          entry: uv run sqlfmt
          language: system
          name: sqlfmt
          require_serial: true
          types_or: [sql, jinja]
    - repo: local
      hooks:
        - id: tombi
          entry: uv run tombi format
          language: system
          name: tombi
          require_serial: true
          types: [toml]
    - repo: local
      hooks:
        - id: pyupgrade
          entry: uv run pyupgrade
          language: system
          name: pyupgrade
          pass_filenames: true
          require_serial: true
          types_or: [python, pyi]
    - repo: local
      hooks:
        - id: bandit
          entry: uv run bandit -r ./src
          language: system
          name: bandit
          pass_filenames: false
          require_serial: true

docs: consolidate the v4 notes into the v4 migration guide
  docs/migration/v3.md
  docs/migration/v4.md
Due: rumdl

docs: add the v4 migration guide (#1041)
  docs/migration/v3.md
  docs/migration/v4.md
  mkdocs.yml
Due: rumdl

feat!: raise the minimum supported dbt version to 1.10
  .agents/skills/build-artifacts/SKILL.md
  README.md
  SECURITY.md
  mise.toml
  src/dbt_bouncer/artifact_parsers/parser.py
  tests/benchmark/synthetic_manifest.py
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/models/test_tests.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/test_main.py
Due: rumdl, tombi

chore: bump internal_package require-dbt-version to >=1.10.0
  dbt_project/internal_package/dbt_project.yml
Due: none

build: pin tombi to a bounded version range (#1045)
  pyproject.toml
  uv.lock
Due: tombi

Resolving dbt-bouncer warnings (#1043)
  .agents/skills/build-artifacts/SKILL.md
  .gitignore
  README.md
  SECURITY.md
  dbt_project/internal_package/dbt_project.yml
  dbt_project/models/staging/crm/_crm__sources.yml
  dbt_project/models/staging/payments/_payments__sources.yml
  dbt_project/target/catalog.json
  dbt_project/target/manifest.json
  dbt_project/target/run_results.json
  mise.toml
  src/dbt_bouncer/artifact_parsers/parser.py
  tests/benchmark/synthetic_manifest.py
  tests/fixtures/dbt_110/target/catalog.json
  tests/fixtures/dbt_110/target/manifest.json
  tests/fixtures/dbt_110/target/run_results.json
  tests/fixtures/dbt_111/target/catalog.json
  tests/fixtures/dbt_111/target/manifest.json
  tests/fixtures/dbt_111/target/run_results.json
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_19/target/catalog.json
  tests/fixtures/dbt_19/target/manifest.json
  tests/fixtures/dbt_19/target/run_results.json
  tests/integration/test_integration_main.py
  tests/unit/checks/manifest/models/test_tests.py
  tests/unit/checks/manifest/test_seeds.py
  tests/unit/test_main.py
Due: rumdl, tombi

chore: normalise uv.lock to uv's 4-space indentation
  uv.lock
Due: none

fix: run build-artifacts sub-tasks in series to avoid DuckDB lock contention
  mise.toml
Due: tombi

chore: normalise uv.lock to uv's 4-space indentation (#1047)
  uv.lock
Due: none

fix: run build-artifacts sub-tasks in series to avoid DuckDB lock contention (#1046)
  mise.toml
Due: tombi

fix: detect dbt built-in macro overrides from their own dispatch edge
  src/dbt_bouncer/checks/manifest/check_macros.py
  tests/unit/checks/manifest/test_macros.py
Due: none

fix: detect dbt built-in macro overrides from their own dispatch edge (#1044)
  src/dbt_bouncer/checks/manifest/check_macros.py
  tests/unit/checks/manifest/test_macros.py
Due: none

build: support dbt-core 2.0 and rebuild fixtures with compile
  AGENTS.md
  mise.toml
  pyproject.toml
  uv.lock
Due: rumdl, tombi

test: add a compile-built dbt_20 fixture and parameterise over it
  .gitignore
  docs/faq.md
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  tests/integration/test_programmatic_invocation.py
  tests/unit/test_parsers_manifest.py
Due: rumdl

feat(dbt_project): make the fixture project build under dbt 1.12 and 2.0
  dbt_project/macros/system/_system__macros.yml
  dbt_project/macros/system/apply_grants.sql
  dbt_project/macros/system/dbt_version_at_least.sql
  dbt_project/models/marts/finance/_finance__models.yml
  dbt_project/models/marts/finance/_semantic_models.yml
  dbt_project/models/utilities/_utilities__models.yml
Due: none

fix: build the database before generating fixture catalogs
  .agents/skills/build-artifacts/SKILL.md
  .gitignore
  mise.toml
  pyproject.toml
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  tests/integration/test_programmatic_invocation.py
  uv.lock
Due: rumdl, tombi

docs: record dbt 2.0 (Fusion) support in the SECURITY.md matrix
  SECURITY.md
Due: rumdl

docs: cover dbt 2.0 artifact generation and widen parser test fixtures
  dbt_project/models/utilities/_utilities__models.yml
  docs/getting_started.md
  tests/unit/test_parsers_manifest.py
Due: rumdl

docs: correct the dbt version floor in the v4 migration guide
  docs/migration/v4.md
Due: rumdl

docs: default to dbt compile --write-catalog, move the parse caveat into the check
  docs/getting_started.md
  schema.json
  src/dbt_bouncer/checks/manifest/check_macros.py
Due: rumdl

feat: support dbt-core 2.0 (Fusion) (#919)
  .agents/skills/build-artifacts/SKILL.md
  .gitignore
  AGENTS.md
  SECURITY.md
  dbt_project/macros/system/_system__macros.yml
  dbt_project/macros/system/apply_grants.sql
  dbt_project/macros/system/dbt_version_at_least.sql
  dbt_project/models/marts/finance/_finance__models.yml
  dbt_project/models/marts/finance/_semantic_models.yml
  dbt_project/models/utilities/_utilities__models.yml
  docs/faq.md
  docs/getting_started.md
  mise.toml
  pyproject.toml
  schema.json
  src/dbt_bouncer/checks/manifest/check_macros.py
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  tests/integration/test_programmatic_invocation.py
  tests/unit/test_parsers_manifest.py
  uv.lock
Due: rumdl, tombi

docs: correct the dbt version floor in the v4 migration guide (#1048)
  docs/migration/v4.md
Due: rumdl

fix: serialise gh-pages deploys to stop concurrent-merge push races
  .github/workflows/merge_pipeline.yml
  .github/workflows/release_pipeline.yml
Due: none

chore: v4 release polish — docs, action help, enum name, build backend
  README.md
  action.yml
  docs/faq.md
  docs/getting_started.md
  pyproject.toml
  src/dbt_bouncer/enums.py
Due: rumdl, tombi

fix: serialise gh-pages deploys to stop concurrent-merge push races (#1050)
  .github/workflows/merge_pipeline.yml
  .github/workflows/release_pipeline.yml
Due: none

docs: use config-file placeholder in verbose output example too
  docs/getting_started.md
Due: rumdl

chore: v4 release polish — docs, action help, enum name, build backend (#1051)
  README.md
  action.yml
  docs/faq.md
  docs/getting_started.md
  pyproject.toml
  src/dbt_bouncer/enums.py
Due: rumdl, tombi

refactor: convert if/else to match statements
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  tests/benchmark/synthetic_manifest.py
  tests/unit/test_main.py
Due: none

feat: increase max model benchmark to 12,000
  tests/benchmark/aggregate_benchmarks.py
Due: none

docs: align benchmark model-count references to 12,000
  docs/CONTRIBUTING.md
  mise.toml
  tests/benchmark/aggregate_benchmarks.py
Due: rumdl, tombi

docs: lowercase mid-sentence 'that' in DEFAULT_MODEL_COUNTS comment
  tests/benchmark/aggregate_benchmarks.py
Due: none

feat: increase max model benchmark to 12,000 (#1053)
  docs/CONTRIBUTING.md
  mise.toml
  tests/benchmark/aggregate_benchmarks.py
Due: rumdl, tombi

chore: add matchify as a dev dependency and pre-commit hook
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: tombi

refactor: convert if/else to match statements (#1052)
  .pre-commit-config.yaml
  pyproject.toml
  src/dbt_bouncer/checks/manifest/check_snapshots.py
  src/dbt_bouncer/checks/manifest/check_tests.py
  src/dbt_bouncer/checks/manifest/models/directories.py
  src/dbt_bouncer/checks/manifest/models/lineage.py
  src/dbt_bouncer/checks/manifest/models/tags.py
  src/dbt_bouncer/checks/manifest/sources/tags.py
  tests/benchmark/synthetic_manifest.py
  tests/unit/test_main.py
  uv.lock
Due: tombi

chore: upgrade dbt-core to 2.0.0b1 and clear build-artifacts warnings
  dbt_project/dbt_project.yml
  dbt_project/internal_package/dbt_project.yml
  dbt_project/models/marts/finance/_finance__models.yml
  mise.toml
  pyproject.toml
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  uv.lock
Due: tombi

chore: upgrade dbt-core to 2.0.0b1 and clear build-artifacts warnings (#1054)
  dbt_project/dbt_project.yml
  dbt_project/internal_package/dbt_project.yml
  dbt_project/models/marts/finance/_finance__models.yml
  mise.toml
  pyproject.toml
  tests/fixtures/dbt_112/target/catalog.json
  tests/fixtures/dbt_112/target/manifest.json
  tests/fixtures/dbt_112/target/run_results.json
  tests/fixtures/dbt_20/target/catalog.json
  tests/fixtures/dbt_20/target/manifest.json
  tests/fixtures/dbt_20/target/run_results.json
  uv.lock
Due: tombi

feat: enable column-level checks via manifest.json
  .gitignore
  dbt-bouncer-example.yml
  docs/checks/rule_codes.md
  schema.json
  src/dbt_bouncer/checks/manifest/models/columns.py
  src/dbt_bouncer/enums.py
  tests/unit/checks/manifest/models/test_columns.py
Due: rumdl

feat: add native dbt Fusion CI probe
  .github/dbt-bouncer-fusion-probe.yml
  .github/workflows/dbt_artifact_probes.yml
  README.md
  mise.toml
Due: rumdl, tombi

feat: add native dbt Fusion CI probe (#780)
  .github/dbt-bouncer-fusion-probe.yml
  .github/workflows/dbt_artifact_probes.yml
  README.md
  mise.toml
Due: rumdl, tombi

ci: bump jdx/mise-action to v4.2.4 (Node.js 24)
  .github/actions/setup_python_env/action.yml
Due: none
